# vi: set ft=yaml:
#
# usage:
# prepare nodes, node fo nginx proxy, node for command exec
# generate new private key for usage in this pillar
# prepare this pillar and assign it for all hosts
# salt rancher*.dev.example.com saltutil.refrsh_pillar
# install binaries, cluster, yaml etc
# salt rancher*.dev.example.com state.apply rancher.prereqs
# rke up
# salt rancher*.dev.example.com state.apply rancher.rke_up
# install helm, rancher chart and acme.sh cert (requires working acme.sh using pkg pillar)
# salt rancher*.dev.example.com state.apply rancher.install

rancher:
  cluster_name: dev
  cluster_domain: rancher.dev.example.com
  cluster_ssh_private_key: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    ...
    -----END OPENSSH PRIVATE KEY-----
  cluster_ssh_public_key: |
    ssh-ed25519 AAAA... dev
  cluster_cidr: 10.42.0.0/16
  cluster_ip_range: 10.43.0.0/16
  cluster_dns_server: 10.43.0.10
  command_host: ranchercmd1.dev.example.com
  nginx_host: rancherweb1.dev.example.com
  nodes:
    - address: rancher1.dev.example.com
      port: 22
      internal_address: 10.0.10.2
      user: root
      role: ['controlplane', 'worker', 'etcd']
    - address: rancher2.dev.example.com
      port: 22
      internal_address: 10.0.10.3
      user: root
      role: ['controlplane', 'worker', 'etcd']
    - address: rancher3.dev.example.com
      port: 22
      internal_address: 10.0.10.4
      user: root
      role: ['controlplane', 'worker', 'etcd']
