# vi: set ft=yaml:
#
# usage:
# - add
#   echo "1048576" > /sys/module/nf_conntrack/parameters/hashsize
#   to /etc/rc.local on host machine if running inside LXD
# - remove apparmor on host machine if running inside LXD
#   apt-get purge --auto-remove apparmor
# - reboot host machine after apparmor removal
# - prepare nodes, node fo nginx proxy, node for command exec
# - generate new private key for usage in this pillar
# - prepare this pillar and assign it for all hosts
# - salt rancher*.dev.example.com saltutil.refresh_pillar
# - install binaries, cluster, yaml etc
#   salt rancher*.dev.example.com state.apply rancher.prereqs
# - rke up
#   salt ranchercmdSOME.dev.example.com state.apply rancher.rke_up
# - install helm, rancher chart and acme.sh cert (requires working acme.sh using pkg pillar)
#   salt ranchercmdSOME.dev.example.com state.apply rancher.install
# - open rancher web admin
# - give password and url
# - wait for provisioning
# - take bearer_token from admin - API & Keys - add key and put it below
# - apply users
#   salt ranchercmdSOME.dev.example.com state.apply rancher.users
#
# last two steps are not required to do from each command host and should be done once
#
# docker versions:
# - 18.06.3 - works inside LXD container as node
# - 17.03.2 - will not work inside LXD, works inside KVM, officially recommended

rancher:
  cluster_name: dev
  cluster_domain: rancher.dev.example.com
  cluster_ssh_private_key: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    ...
    -----END OPENSSH PRIVATE KEY-----
  cluster_ssh_public_key: |
    ssh-ed25519 AAAA... dev
  cluster_cidr: 10.42.0.0/16
  cluster_ip_range: 10.43.0.0/16
  cluster_dns_server: 10.43.0.10
  command_hosts:
    - ranchercmd1.dev.example.com
    - ranchercmd2.dev.example.com
    - ranchercmd3.dev.example.com
  nginx_hosts:
    - rancherweb1.dev.example.com
    - rancherweb2.dev.example.com
    - rancherweb3.dev.example.com
  docker-ce_version: 18.06.3
  nodes:
    - address: rancher1.dev.example.com
      port: 22
      internal_address: 10.0.10.2
      user: root
      role: ['controlplane', 'worker', 'etcd']
    - address: rancher2.dev.example.com
      port: 22
      internal_address: 10.0.10.3
      user: root
      role: ['controlplane', 'worker', 'etcd']
    - address: rancher3.dev.example.com
      port: 22
      internal_address: 10.0.10.4
      user: root
      role: ['controlplane', 'worker', 'etcd']
  bearer_token: token-xxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx # add after install (taken from web admin), used to manage users via api
  users:
    - username: user
      password: password
      name: Some User
      description: Some Description
      must_change_password: False
