metabase:
  docker-ce_version: 18.06.1
  domains:
    - name: metabase.example.com
      default_instance: prod # optional, redirect to this instance if exist, make html list if not
      instances:
        - name: prod
          port: 3000
          image: metabase/metabase
          plugins: #use for install plugin clickhouse
            clickhouse: 0.7.5
          java_timezone: UTC
          db:
            type: postgres
            host: metabase1.example.com
            port: 5432
            dbname: metabase-prod
            user: metabase-prod
            pass: xxxxxxxxxxxxx
        - name: dev
          port: 3001
          image: metabase/metabase
          plugins: #use for install plugin clickhouse
            clickhouse: 0.7.5
          java_timezone: UTC
          db:
            type: postgres
            host: metabase1.example.com
            port: 5432
            dbname: metabase-dev
            user: metabase-dev
            pass: xxxxxxxxxxxx
