{% set appname = 'alerta' %}
{% set db_pass = 'XXX-set-alerta-db-pass-here-XXX' %}
{% set domain  = 'alerta.example.com' %}
{% set version = 'v8.0.3' %}
{% set webui_version = 'v8.0.1' %}
{% set add_pip_install = "git+https://github.com/sysadmws/alerta-telegram.git" %}
{% set cli_key_id = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx' %} # apt-get install uuid-runtime; uuidgen
{% set cli_key = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' %} # cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 40 | head -n 1
{% set telegram_key_id = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx' %}
{% set telegram_key = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' %}
{% set secret_key = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa' %} # cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1
{%
set customers = [
  {
    'id': 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx', # uuidgen
    'match': 'customer1', # Use login, Keycloak role, GitHub org, GitLab group or email domain
    'name': 'Customer1',
    'keys': [
      {
        'name': 'mon',
        'key_id': 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx',
        'key': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      },
    ],
  },
  {
    'id': 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx',
    'match': 'customer2',
    'name': 'Customer2',
    'keys': [
      {
        'name': 'mon',
        'key_id': 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx',
        'key': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      },
    ],
  },
]
%}
{%
set telegram_template = "
source: [alerta](https://" ~ domain ~ "/)
severity: *{{ severity }}*
status: *{{ status }}*
customer: *{{ customer }}*
environment: *{{ environment }}*
service: *{{ service|join(', ') }}*
resource: *{{ resource }}*
event: *{{ event }}*
value: *{{ value }}*
group: *{{ group }}*
origin: *{{ origin }}*
{% for a_key, a_val in attributes.items()|sort %}{{ a_key | replace('_', '-') | replace('*', '-') }}: *{{ a_val | replace('_', '-') | replace('*', '-') }}*
{% endfor %}
```
{{ text }}
```
"
%}
{%
set conf = "
DASHBOARD_URL = 'https://" ~ domain ~ "/'

AUTH_REQUIRED = True
ADMIN_USERS = ['root']
SIGNUP_ENABLED = False
AUTH_PROVIDER = 'gitlab'
GITLAB_URL = 'https://gitlab.example.com'
ALLOWED_GITLAB_GROUPS = ['group1/subgroup2', 'group1/subgroup3']
OAUTH2_CLIENT_ID = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
OAUTH2_CLIENT_SECRET = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
CUSTOMER_VIEWS = True

SITE_LOGO_URL = 'https://gitlab.example.com/uploads/-/system/appearance/header_logo/1/company.png'
DATE_FORMAT_LONG_DATE = 'yyyy-MM-dd HH:mm:ss.sss'
DEFAULT_AUDIO_FILE = '/audio/alert_high-intensity.ogg'

API_KEY_EXPIRE_DAYS = 36500 # 100 years

ALERT_TIMEOUT = 86400
HEARTBEAT_TIMEOUT = 86400
DEFAULT_EXPIRED_DELETE_HRS = 12
DEFAULT_INFO_DELETE_HRS = 0  # do not delete info alerts

SEVERITY_MAP = {
    'fatal': 0,
    'security': 0,
    'critical': 1,
    'major': 2,
    'minor': 3,
    'warning': 4,
    'ok': 5,
    'normal': 5,
    'cleared': 5,
    'indeterminate': 5,
    'informational': 6,
    'debug': 7,
    'trace': 8,
    'unknown': 9
}

COLOR_MAP = {
    'severity': {
        'fatal': 'blue',
        'security': 'blue',
        'critical': 'red',
        'major': 'orange',
        'minor': 'yellow',
        'warning': 'dodgerblue',
        'ok': '#00CC00',
        'normal': '#00CC00',
        'cleared': '#00CC00',
        'indeterminate': 'lightblue',
        'informational': '#00CC00',
        'debug': '#9D006D',
        'trace': '#7554BF',
        'unknown': 'silver'
    },
    'text': 'black',
    'highlight': 'skyblue'
}

DEFAULT_NORMAL_SEVERITY = 'ok'
DEFAULT_PREVIOUS_SEVERITY = 'indeterminate'

PLUGINS = ['blackout','telegram']
PLUGINS_RAISE_ON_ERROR = True

BLACKOUT_DURATION = 3600
NOTIFICATION_BLACKOUT = True
BLACKOUT_ACCEPT = True

TELEGRAM_TEMPLATE = '/opt/alerta/" ~ appname ~ "/telegram_template.jinja'
TELEGRAM_SOUND_NOTIFICATION_SEVERITY = ['fatal', 'security', 'critical', 'major']

TELEGRAM_TOKEN = 'xxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
TELEGRAM_CHAT_ID = '-xxxxxxxxxxxxx'
TELEGRAM_WEBHOOK_URL = 'https://" ~ domain ~ "/api/webhooks/telegram?api-key=" ~ telegram_key ~ "'

TELEGRAM_CHAT_ID_PER_CUSTOMER = {
    'Customer1': '-xxxxxxxxxxxxx',
}
"
%}
{% include 'app/alerta.jinja' with context %}
