# vi: set ft=yaml:
#
# Tip: connect from old clients to percona on Focal could lead to SSL/TLS handshake/cipher rerrors.
# Fix: edit /etc/ssl/openssl.cnf:
# openssl_conf = default_conf # in the top of the file
# ...
# # in the bottom of the file
# [ default_conf ]
#
# ssl_conf = ssl_sect
#
# [ ssl_sect ]
#
# system_default = ssl_default_sect
#
# [ ssl_default_sect ]
#
# MinProtocol = TLSv1
# CipherString = DEFAULT:@SECLEVEL=1

# for init.sls
# percona
percona:
  version: 8.0 # mandatory
  root_password: 'cooldnpassword' # mandatory
  databases:
    db0:
      character_set: utf8mb4 # optional, utf8mb4 is used by default, you cannot change this param if db is already created
      collate: utf8mb4_unicode_ci # optional, utf8mb4_unicode_ci is used by default, you cannot change this param if db is already created
    db1: # should be an empty mapping for defaults applied
  users:
    db:
      host: localhost
      password: 'userpass'
      databases:
        - database: db
          grant: ['all privileges']


# In rare cases one may need to create superuser with password authentication
# to do so, use a such pillar:
percona:
  version: 5.7
  root_password: 'cooldnpassword'
  users:
    superuser: # do not name user 'root', may cause bug: https://stackoverflow.com/questions/5555328
      host: '%'
      password: 'cooldnpassword1'
      databases:
        - database: '*'
          grant: ['all privileges']
          grant_option: True
          unescape_db_name: True

# ///////// WARNING \\\\\\\\\\
# >>>> legacy, do not use <<<<

# for percona.sls
# percona
percona:
  enabled: True
  version: 5.7
  root_password: 'cooldnpassword'
  databases:
    - name: db
      character_set: utf8mb4 # optional, utf8mb4 is used by default, you cannot change this param if db is already created
      collate: utf8mb4_unicode_ci # optional, utf8mb4_unicode_ci is used by default, you cannot change this param if db is already created
  users:
    db:
      host: localhost
      password: 'userpass'
      databases:
        - database: db
          grant: ['all privileges']
