# vi: set ft=yaml:
#
# Tip: connect from old clients to percona on Focal could lead to SSL/TLS handshake/cipher rerrors.
# Fix: edit /etc/ssl/openssl.cnf:
# openssl_conf = default_conf # in the top of the file
# ...
# # in the bottom of the file
# [ default_conf ]
#
# ssl_conf = ssl_sect
#
# [ ssl_sect ]
#
# system_default = ssl_default_sect
#
# [ ssl_default_sect ]
#
# MinProtocol = TLSv1
# CipherString = DEFAULT:@SECLEVEL=1

# percona
percona:
  enabled: True
  version: 5.6
  root_password: 'cooldnpassword'
  databases:
    - name: db
      character_set: utf8mb4 # optional, utf8mb4 is used by default, you cannot change this param if db is already created
      collate: utf8mb4_unicode_ci # optional, utf8mb4_unicode_ci is used by default, you cannot change this param if db is already created
  users:
    db:
      host: localhost
      password: 'userpass'
      databases:
        - database: db
          grant: ['all privileges']
