php-fpm:
  versions:
    7.4:
      ini:
        Date:
          date.timezone: Etc/UTC
        #PHP:
        #  short_open_tag: "On"
        #  display_errors: "Off"
        #  display_startup_errors: "Off"
      modules:
        - php7.4-zip
        - php7.4-intl
        - php7.4-mbstring
        - php7.4-mysql
        - php7.4-soap
        - php7.4-xml
        - php7.4-bcmath
        - php7.4-curl
        - php7.4-gd
        - php7.4-sqlite3
        - php7.4-ioncube # in case of ioncube - module will we copied from ioncube distribution, php 8+ is not yet supported by ioncube
