{% set wazuh_release         = "4.5.2" %}
{% set wazuh_domain          = "wazuh.example.com" %}

{% set ADMIN_PASSWORD        = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" %}
{% set KIBANASERVER_PASSWORD = "YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY" %}
{% set API_USERNAME          = "wazuh-wui" %}
{% set API_PASSWORD          = "ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ" %}

wazuh:
  domain: {{ wazuh_domain }}
  release: {{ wazuh_release }}
  wazuh_manager:
    image: wazuh/wazuh-manager:{{ wazuh_release }}
    env_vars:
      INDEXER_PASSWORD: {{ ADMIN_PASSWORD }}
      API_USERNAME: {{ API_USERNAME }}
      API_PASSWORD: {{ API_PASSWORD }}
    internal_options_conf:
      analysisd.decoder_order_size: 1024
    ossec_config:
      template: salt://wazuh/ossec_conf.j2.example
      values:
        global:
          smtp_server: wazuh.postfix
          email_from: wazuh@example.com
          email_to: admin@example.com
        rootcheck:
          disabled: 'no'
        sca:
          enabled: 'yes'
        vulnerability-detector:
          enabled: 'yes'
        syscheck:
          disabled: 'no'
    postfix:
      SMTP_SERVER: smtp.example.com
      SMTP_USERNAME: wazuh@example.com
      SMTP_PASSWORD: 'STRONGPASSWORD'
  wazuh_indexer:
    image: wazuh/wazuh-indexer:{{ wazuh_release }}
    env_vars:
      OPENSEARCH_JAVA_OPTS: -Xms4g -Xmx4g
  wazuh_dashboard:
    image: wazuh/wazuh-dashboard:{{ wazuh_release }}
    env_vars:
      INDEXER_PASSWORD: {{ ADMIN_PASSWORD }}
      DASHBOARD_PASSWORD: {{ KIBANASERVER_PASSWORD }}
      API_USERNAME: {{ API_USERNAME }}
      API_PASSWORD: {{ API_PASSWORD }}
  internal_users: |
      ---
      _meta:
        type: "internalusers"
        config_version: 2
      admin:
        password: "{{ ADMIN_PASSWORD }}"
        reserved: true
        backend_roles:
        - "admin"
        description: "Demo admin user"
      kibanaserver:
        password: "{{ KIBANASERVER_PASSWORD }}"
        reserved: true
        description: "Demo kibanaserver user"
      kibanaro:
        password: "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        reserved: false
        backend_roles:
        - "kibanauser"
        - "readall"
        attributes:
          attribute1: "value1"
          attribute2: "value2"
          attribute3: "value3"
        description: "Demo kibanaro user"
      logstash:
        password: "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB"
        reserved: false
        backend_roles:
        - "logstash"
        description: "Demo logstash user"
      readall:
        password: "CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC"
        reserved: false
        backend_roles:
        - "readall"
        description: "Demo readall user"
      snapshotrestore:
        password: "DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD"
        reserved: false
        backend_roles:
        - "snapshotrestore"
        description: "Demo snapshotrestore user"
