wazuhagent:
  deb: 'https://packages.wazuh.com/4.x/apt/pool/main/w/wazuh-agent/wazuh-agent_4.5.0-1_amd64.deb'
  manager: wazuh.example.com
  group: default
  suricata: true             # If you need to add /var/log/suricata/eve.json to wazuh-agent configuration /var/ossec/etc/ossec.conf
