{% set wazuh_release        = "4.5.0" %}
{% set wazuh_domain         = "wazuh.example.com" %}
{% set wazuh_admin_pasword  = "XXXXXXXXXXXXXXXXX" %}

wazuh:
  domain: {{ wazuh_domain }}
  release: v{{ wazuh_release }}
  wazuh_manager:
    image: wazuh/wazuh-manager:{{ wazuh_release }}
    env_vars:
      INDEXER_URL: https://wazuh.indexer:9200
      INDEXER_USERNAME: admin
      INDEXER_PASSWORD: {{ wazuh_admin_pasword }}
      FILEBEAT_SSL_VERIFICATION_MODE: full
      SSL_CERTIFICATE_AUTHORITIES: /etc/ssl/root-ca.pem
      SSL_CERTIFICATE: /etc/ssl/filebeat.pem
      SSL_KEY: /etc/ssl/filebeat.key
      API_USERNAME: wazuh-wui
      API_PASSWORD: 'MyS3cr37P450r.*-'
  wazuh_indexer:
    image: wazuh/wazuh-indexer:{{ wazuh_release }}
    env_vars:
      OPENSEARCH_JAVA_OPTS: -Xms512m -Xmx512m
  wazuh_dashboard:
    image: wazuh/wazuh-dashboard:{{ wazuh_release }}
    env_vars:
      INDEXER_USERNAME: admin
      INDEXER_PASSWORD: {{ wazuh_admin_pasword }}
      WAZUH_API_URL: https://wazuh.manager
      DASHBOARD_USERNAME: kibanaserver
      DASHBOARD_PASSWORD: kibanaserver
      API_USERNAME: wazuh-wui
      API_PASSWORD: 'MyS3cr37P450r.*-'
