{% set wazuh_release         = "4.5.2" %}
{% set wazuh_domain          = "wazuh.example.com" %}

{% set ADMIN_PASSWORD        = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" %}
{% set KIBANASERVER_PASSWORD = "YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY" %}
{% set API_USERNAME          = "wazuh-wui" %}
{% set API_PASSWORD          = "ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ" %}

{% set SMTP_SERVER           = "smtp.gmail.com"       %}
{% set SMTP_USERNAME         = "wazuh-user@gmail.com" %}
{% set SMTP_PASSWORD         = "STRONGPASSWORD"       %}

wazuh:
  domain: {{ wazuh_domain }}
  release: {{ wazuh_release }}
  wazuh_manager:
    image: wazuh/wazuh-manager:{{ wazuh_release }}
    env_vars:
      INDEXER_PASSWORD: {{ ADMIN_PASSWORD }}
      API_USERNAME: {{ API_USERNAME }}
      API_PASSWORD: {{ API_PASSWORD }}
    internal_options_conf:
      analysisd.decoder_order_size: 1024
    local_rules_xml: |
        <!-- Local rules -->
        <!-- Modify it at your will. -->
        <!-- Copyright (C) 2015, Wazuh Inc. -->
        <!-- Example -->
        <group name="local,syslog,sshd,">
          <!--
          Dec 10 01:02:02 host sshd[1234]: Failed none for root from 1.1.1.1 port 1066 ssh2
          -->
          <rule id="100001" level="5">
            <if_sid>5716</if_sid>
            <srcip>1.1.1.1</srcip>
            <description>sshd: authentication failed from IP 1.1.1.1.</description>
            <group>authentication_failed,pci_dss_10.2.4,pci_dss_10.2.5,</group>
          </rule>
        </group>
        <group name="pam,syslog,">
          <rule id="5501" level="0" overwrite="yes">
            <if_sid>5500</if_sid>
            <match>session opened for user </match>
            <description>PAM: Login session opened.</description>
            <mitre>
              <id>T1078</id>
            </mitre>
            <group>authentication_success,pci_dss_10.2.5,gpg13_7.8,gpg13_7.9,gdpr_IV_32.2,hipaa_164.312.b,nist_800_53_AU.14,nist_800_53_AC.7,tsc_CC6.8,tsc_CC7.2,tsc_CC7.3,</group>
          </rule>
        </group>
        <group name="ids,suricata,">
            <rule id="86601" level="0" overwrite="yes">
                <if_sid>86600</if_sid>
                <field name="event_type">^alert$</field>
                <description>Suricata: Alert - $(alert.signature)</description>
                <options>no_full_log</options>
            </rule>
        </group>
    ossec_config:
      template: salt://wazuh/ossec_conf.j2.example
      values:
        global:
          smtp_server: wazuh.postfix
          email_from: {{ SMTP_USERNAME }}
          email_to: admin@example.com
        rootcheck:
          disabled: 'no'
        sca:
          enabled: 'yes'
        vulnerability_detector:
          enabled: 'yes'
        syscheck:
          disabled: 'no'
    postfix:
      SMTP_SERVER: {{ SMTP_SERVER }}
      SMTP_USERNAME: {{ SMTP_USERNAME }}
      SMTP_PASSWORD: {{ SMTP_PASSWORD }}
  wazuh_indexer:
    image: wazuh/wazuh-indexer:{{ wazuh_release }}
    env_vars:
      OPENSEARCH_JAVA_OPTS: -Xms4g -Xmx4g
  wazuh_dashboard:
    image: wazuh/wazuh-dashboard:{{ wazuh_release }}
    env_vars:
      INDEXER_PASSWORD: {{ ADMIN_PASSWORD }}
      DASHBOARD_PASSWORD: {{ KIBANASERVER_PASSWORD }}
      API_USERNAME: {{ API_USERNAME }}
      API_PASSWORD: {{ API_PASSWORD }}
  internal_users: |
      ---
      _meta:
        type: "internalusers"
        config_version: 2
      admin:
        password: "{{ ADMIN_PASSWORD }}"
        reserved: true
        backend_roles:
        - "admin"
        description: "Demo admin user"
      kibanaserver:
        password: "{{ KIBANASERVER_PASSWORD }}"
        reserved: true
        description: "Demo kibanaserver user"
      kibanaro:
        password: "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        reserved: false
        backend_roles:
        - "kibanauser"
        - "readall"
        attributes:
          attribute1: "value1"
          attribute2: "value2"
          attribute3: "value3"
        description: "Demo kibanaro user"
      logstash:
        password: "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB"
        reserved: false
        backend_roles:
        - "logstash"
        description: "Demo logstash user"
      readall:
        password: "CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC"
        reserved: false
        backend_roles:
        - "readall"
        description: "Demo readall user"
      snapshotrestore:
        password: "DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD"
        reserved: false
        backend_roles:
        - "snapshotrestore"
        description: "Demo snapshotrestore user"