# should be cloud vm targeted
resolv_domain: example.com
salt_masters:
  salt1.example.com: 1.2.3.4
  salt2.example.com: 4.3.2.1
location: host.example.com
highstated: True

# should be cloud salt master targeted
cloud:
  config_dir: /etc/salt # mandatory bug fix
  providers:
    lxc-host_example_com:
      target: host.example.com
      driver: lxc
{% set vm   = 'vm.example.com' %}
  profiles:
    {{ vm|replace(".", "_") }}:
      provider: lxc-host_example_com
      lxc_profile:
        backing: lvm
        vgname: vg_md3
        size: 10G
        template: download
        options:
          dist: debian
          release: jessie
          arch: amd64
      network_profile:
        eth0:
          link: br1
          type: veth
          flags: up
          ipv4: 10.0.0.2/24
          gateway: 10.0.0.1
      minion:
        master:
          - salt1.example.com
          - salt2.example.com
        id: {{ vm }}
        grains:
          fqdn: {{ vm }}
      lxc_conf:
        - lxc.utsname: {{ vm }}
      password: coolvmpassword
      dnsservers:
        - 8.8.8.8
        - 8.8.4.4
      lxc_post_profile:
        # 16 symbols max
        net_veth_pair_name: vgvmbr1
        lvm_root_resize: 100G

# ufw_simple
ufw_simple:
  enabled: True
  logging: 'off'
  nat:
    enabled: True
    masquerade:
      source:
        - '10.0.0.0/16'
        - '192.168.0.0/24'
      out: 'br0'
    dnat:
      destination:
        '2222':
          to: '10.0.0.2:22'
          proto: 'tcp'
        '8080':
          to: '192.168.0.2:80'
          proto: 'tcp'
      in: 'br0'
  allow:
    rule_1:
      proto: 'tcp'
      from:
        hostname_1: '1.2.3.4'
        hostname_2: '4.3.2.1'
      to_port: '8080,8090'
    rule_2:
      proto: 'tcp'
      to_port: '3306'

# users/unix -> users-formula/pillar.example

# users/windows
windows_unrestricted: True # leave the powershell in the unrestricted mode
windows_users:
  john:
    fullname: John Doe
    remove_groups: False
    password: coolpassword
    is_admin: True

# test
test:
  git_commit:
    - '/srv'

# pyenv
# limited set of versions supported in the state
pyenv:
  enabled: True
  version_2_7_13: True
  version_3_5_2: True
  version_3_5_3: True

# r
r:
  enabled: True

# redis
redis:
  enabled: True

# php-fpm
php-fpm:
  enabled: True
  version_5_6: True
  modules:
    php5_6:
      - php5.6-mysql
      - php5.6-curl
      - php5.6-zip
      - php5.6-gd
      - php5.6-mcrypt
      - php5.6-mbstring
      - php5.6-xml
      - php5.6-soap
      - php5.6-ioncube

# percona
percona:
  enabled: True
  version: 5.6
  root_password: 'cooldnpassword'
  databases:
    - db
  users:
    db:
      host: localhost
      password: 'userpass'
      databases:
        - database: db
          grant: ['all privileges']

# postgresql
# extensions in postgres-formula are broken:
#     Warnings: 'extensions' is an invalid keyword argument for
#              'postgres_database.present'
# hack to add uuid_ossp by formula wrapper
postgres:
...
  databases:                                                                                                                                                                                                                           
    sentry:                                                                                                                                                                                                                            
      owner: 'db1'
      ...
  local:
    uuid_ossp:
      enabled: True
      databases:
        - db1
