mailcow:
  docker-ce_version: 5:19.03.13
  domains:
    - name: mailcow.example.com
      HTTP_PORT: 8080
      HTTP_BIND: 127.0.0.1
      HTTPS_PORT: 8443
      HTTPS_BIND: 127.0.0.1
      SMTP_PORT: 25
      SMTPS_PORT: 127.0.0.1:465
      SUBMISSION_PORT: 127.0.0.1:587
      IMAP_PORT: 127.0.0.1:143
      IMAPS_PORT: 127.0.0.1:993
      POP_PORT: 127.0.0.1:110
      POPS_PORT: 127.0.0.1:995
      SIEVE_PORT: 127.0.0.1:4190
      haproxy: