mailcow:
  docker-ce_version: 5:19.03.13
  docker_logging:
    driver: "json-file"
    options:
      tag: "{% raw -%}{{.ImageName}}|{{.Name}}|tst{%- endraw %}"
  apparmor_unconfined: true          # adds security_opt: apparmor:unconfined to all containers (needed for Debian 12)
  postfix_tlspol_in_override: true   # include postfix-tlspol-mailcow container in docker-compose.override.yml (newer mailcow versions)
  acme_account: example.com         # used only when SKIP_LETS_ENCRYPT=y
  enable_ipv6: true    # DO NOT CHANGE THIS PARAMETER IF YOU ARE NOT SURE, because if you once disable ipv6 using this parameter, it will not work to turn it back on by setting the value to true
  solr_enable: false   # This option is added for backward compatibility with older versions. In newer versions this option should be set to false
  mailcow_conf:
    MAILCOW_HOSTNAME: mail.example.com
    SKIP_LETS_ENCRYPT: n            #y or n
    ENABLE_SSL_SNI: y               # https://mailcow.github.io/mailcow-dockerized-docs/firststeps-ssl/
    ADDITIONAL_SAN: mail.*,imap.*,smpt.*,pop.*  # https://mailcow.github.io/mailcow-dockerized-docs/firststeps-ssl/
    HTTP_PORT: 8080                 #ONLY PORT
    HTTP_BIND: ''                   #ONLY IP or ''
    HTTPS_PORT: 8443                #ONLY PORT
    HTTPS_BIND: ''                  #ONLY IP or ''
    SMTP_PORT: 25                   #PORT OR IP:PORT
    SMTPS_PORT: 127.0.0.1:465       #PORT OR IP:PORT
    SUBMISSION_PORT: 127.0.0.1:587  #PORT OR IP:PORT
    IMAP_PORT: 127.0.0.1:143        #PORT OR IP:PORT
    IMAPS_PORT: 127.0.0.1:993       #PORT OR IP:PORT
    POP_PORT: 127.0.0.1:110         #PORT OR IP:PORT
    POPS_PORT: 127.0.0.1:995        #PORT OR IP:PORT
    SIEVE_PORT: 127.0.0.1:4190      #PORT OR IP:PORT
    SOLR_HEAP: 6144                 #2048MB memory for one million objects
    MAILCOW_TZ: Etc/UTC
    ALLOW_ADMIN_EMAIL_LOGIN: y      #y or n
    WATCHDOG_NOTIFY_EMAIL: devops@example.com
  haproxy:                          #used only when SKIP_LETS_ENCRYPT=y
    EXTERNAL_IP: 1.2.3.4
  rspamd:
    phishing_conf:
      phishtank_enabled: 'true'
    global_smtp_from_whitelist_map: |
      # /.+example\.com/i
    global_rcpt_whitelist_map: |
      # /.+example\.com/i
    ip_wl_map: |
      # IP whitelist
      # # 127.0.0.1
      # # 1.2.3.4
      # # ...
  clamd:
    clamd_conf:
      DetectPUA: 'no'
      OLE2BlockMacros: 'no'
    whitelist_ign2:
      Sanesecurity: 'Junk.41567'
  postfix:
    extra_cf:
      smtpd_milters: "inet:rspamd:9900, inet:2.3.4.5:13333"
      non_smtpd_milters: '$smtpd_milters'
      postscreen_dnsbl_action: 'ignore'
      header_checks: 'regexp:/opt/postfix/conf/header_checks'
    header_checks: |
      /^Subject:/     WARN

