# vi: set ft=yaml:

ssh_keys:
  root:
    present:
      - ssh-ed25519 AAAACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx user@example.com
    absent: # Keep only hash in absent for partial search
      # Admins
      - AAAACyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy # olduser
