lxd:
  password: randompassword
  #images: # optional, additional images to predownload on server, xenial, bionic and focal are preloaded by default
  #  alias:                 image 
  #  ubuntu/somename/amd64: images:ubuntu/somename/amd64
  profiles:
    br0:
      devices:
        eth0:
          type: nic
          nictype: bridged
          parent: br0
    br1:
      devices:
        eth1:
          type: nic
          nictype: bridged
          parent: br1
    #test: # profile config example
    #  config:
    #    some_key: some_value
  containers:
    # actual lxd names are dots to dashes converted
    container1.example.com: # with eth0 with mac and eth1 in br1
      image: ubuntu/focal/amd64
      #image: ubuntu/bionic/amd64
      #image: ubuntu/xenial/amd64
      devices:
        root:
          type: disk
          path: /
          pool: vg_md3
          size: 10GB
        eth0: # network with mac should be added as device, not profile
          type: nic
          nictype: bridged
          parent: br0
          hwaddr: aa:aa:aa:aa:aa:aa
      #config: # optional config values to apply https://lxd.readthedocs.io/en/latest/instances/
      #  limits.cpu: 1
      #  limits.memory: 1024MB
      #  limits.memory.swap: False
      profiles: # profile list will be applied on each state run
        - br1
        - autostart
        - docker # this profile allows docker inside container
        #- privileged
        #- nfs
      bootstrap:
        ...

# boostrap examples, parameters are script specific
      bootstrap: # focal without fixed mac on eth0
        - focal_network.sh:
          - 111.111.111.111
          - 255.255.255.0
          - 111.111.111.100
          - '[8.8.8.8, 8.8.4.4, 1.1.1.1, 1.0.0.1]'
          - '[example.com]'
        - focal_hostname_and_hosts.sh:
          - __CONTAINER_NAME__ # special parameter __CONTAINER_NAME__ is replaced with container name with dots
          - 111.111.111.111
          - salt1.example.com
          - 1.2.3.4
        - focal_salt_minion.sh:
          - salt1.example.com
          - 3001
      bootstrap: # focal with fixed mac on eth0
        - focal_network_mac.sh:
          - 111.111.111.111
          - 255.255.255.0
          - 111.111.111.100
          - '[8.8.8.8, 8.8.4.4, 1.1.1.1, 1.0.0.1]'
          - '[example.com]'
          - aa:aa:aa:aa:aa:aa
        - focal_hostname_and_hosts.sh:
          - __CONTAINER_NAME__
          - 111.111.111.111
          - salt1.example.com
          - 1.2.3.4
        - focal_salt_minion.sh:
          - salt1.example.com
          - 3001
      bootstrap: # focal without fixed mac on eth0 with eth1
        - focal_network_two_nets.sh:
          - 111.111.111.111
          - 255.255.255.0
          - 111.111.111.100
          - '[8.8.8.8, 8.8.4.4, 1.1.1.1, 1.0.0.1]'
          - '[example.com]'
          - 10.0.10.2
          - 24
        - focal_hostname_and_hosts.sh:
          - __CONTAINER_NAME__
          - 111.111.111.111
          - salt1.example.com
          - 1.2.3.4
        - focal_salt_minion.sh:
          - salt1.example.com
          - 3001
      bootstrap: # focal with fixed mac on eth0 with eth1
        - focal_network_mac.sh:
          - 111.111.111.111
          - 255.255.255.0
          - 111.111.111.100
          - '[8.8.8.8, 8.8.4.4, 1.1.1.1, 1.0.0.1]'
          - '[example.com]'
          - aa:aa:aa:aa:aa:aa
          - 10.0.10.2
          - 24
        - focal_hostname_and_hosts.sh:
          - __CONTAINER_NAME__
          - 111.111.111.111
          - salt1.example.com
          - 1.2.3.4
        - focal_salt_minion.sh:
          - salt1.example.com
          - 3001
      bootstrap: # xenial with eth0
        - xenial_network.sh:
          - 10.0.10.2
          - 255.255.255.0
          - 10.0.10.1
          - 8.8.8.8 1.1.1.1
          - example.com
        - xenial_hostname_and_hosts.sh:
          - __CONTAINER_NAME__
          - 1.2.3.4
          - salt1.example.com
        - xenial_salt_minion.sh:
          - salt1.example.com
          - 3000
      bootstrap: # bionic with eth0
        - bionic_network.sh:
          - 111.111.111.111
          - 255.255.255.0
          - 111.111.111.100
          - 8.8.8.8 1.1.1.1
          - example.com
          - aa:aa:aa:aa:aa:aa # optional for mac of eth0
        - bionic_hostname_and_hosts.sh:
          - __CONTAINER_NAME__
          - 1.2.3.4
          - salt1.example.com
        - bionic_salt_minion.sh:
          - salt1.example.com
          - 3000
      bootstrap: # bionic with eth0 and eth1
        - bionic_network_two_nets.sh:
          - 111.111.111.111
          - 255.255.255.0
          - 111.111.111.100
          - 8.8.8.8 1.1.1.1
          - example.com
          - 10.0.10.2
          - 255.255.255.0
          - aa:aa:aa:aa:aa:aa # optional for mac of eth0
        - bionic_hostname_and_hosts.sh:
          - __CONTAINER_NAME__
          - 1.2.3.4
          - salt1.example.com
        - bionic_salt_minion.sh:
          - salt1.example.com
          - 3000

# set only specific containers
... state.apply lxd.containers pillar='{lxd: {only: {"container1.example.com"}}}'
# and allow stop and start for changes to apply
... state.apply lxd.containers pillar='{lxd: {only: {"container1.example.com"}, allow_stop_start: True}}'
