# Error saving credentials: error storing credentials - err: exit status 1, out: `The name org.freedesktop.secrets was not provided by any .service files`
# chmod -x /usr/bin/docker-credential-secretservice
# https://stackoverflow.com/a/56962423

docker-ce:
  version: latest
  daemon_json: |
    {
            "iptables": false,
            "default-address-pools": [ {"base": "172.16.0.0/12", "size": 24} ],
            "log-driver": "json-file",
            "log-opts": {
                    "max-size": "1G",
                    "max-file": "5",
                    "compress": "true"
            }
    }
  #compose: latest # optional, latest or use specific version like 2.14.0 without v
  #compose-plugin: True # optional, add compose as plugin
  #buildx: True # optional, add buildx plugin
  #daily_image_prune: True # optional, runs docker image prune -a --force daily
