grafana:
  docker-ce_version: 5:20.10.8*
  #separated_config: False # optional, set to True for creating separated nginx config instead of rewriting main nginx.conf
  acme_configs:
    - name: example.com
      domains:
        - grafana.example.com
    - name: another-example.com
      domains:
        - grafana.another-example.com
  domains:
    - name: grafana.example.com
      default_instance: prod # optional, redirect to this instance if exist, make html list if not
      instances:
        - name: prod
          port: 3000
          image: grafana/grafana:9.4.3-ubuntu
          admin_password: xxx
          install_plugins: grafana-clock-panel,grafana-simple-json-datasource
          image_renderer:
            external: true
            version: latest
            {% set renderer_port = 8081 %}
            port: {{ renderer_port }}
          config: |
            instance_name = grafana.example.com-prod
            [server]
            root_url = https://grafana.example.com/prod
            serve_from_sub_path = true
            [database]
            url = postgres://grafana-prod:xxx@grafana1.example.com:5432/grafana-prod
            [auth.gitlab]
            enabled = true
            allow_sign_up = true
            client_id = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            client_secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            scopes = api
            auth_url = https://gitlab.example.com/oauth/authorize
            token_url = https://gitlab.example.com/oauth/token
            api_url = https://gitlab.example.com/api/v4
            allowed_groups = grafana
            [log]
            level = info
            mode = console file
            filters = rendering:debug
            [smtp]
            enabled = true
            host = smtp.gmail.com:465
            user = grafana@example.com
            password = """XXXXXXXXXXXXXXXXX"""
            from_address = grafana@example.com
            from_name = Grafana
            [rendering]
            server_url = http://{{ grains['fqdn'] }}:{{ renderer_port }}/render
            callback_url = https://grafana.example.com/prod/
        - name: dev
          port: 3001
          image: grafana/grafana-oss:latest-ubuntu
          admin_password: xxx
          install_plugins: grafana-clock-panel,grafana-simple-json-datasource
          docker_logging:
            driver: "json-file"
            options: "tag={% raw -%}{{.ImageName}}|{{.Name}}|prd{%- endraw %}"
          config: |
            instance_name = grafana.example.com-dev
            [server]
            root_url = https://grafana.example.com/dev
            serve_from_sub_path = true
            [database]
            url = postgres://grafana-dev:xxx@grafana1.example.com:5432/grafana-dev
            [auth.gitlab]
            enabled = true
            allow_sign_up = true
            client_id = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            client_secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            scopes = api
            auth_url = https://gitlab.example.com/oauth/authorize
            token_url = https://gitlab.example.com/oauth/token
            api_url = https://gitlab.example.com/api/v4
            allowed_groups = grafana
            [auth.ldap]
            # Set to `true` to enable LDAP integration (default: `false`)
            enabled = true
            # Path to the LDAP specific configuration file (default: `/etc/grafana/ldap.toml`)
            config_file = /etc/grafana/ldap.toml
            # Allow sign up should almost always be true (default) to allow new Grafana users to be created (if LDAP authentication is ok). If set to
            # false only pre-existing Grafana users will be able to login (if LDAP authentication is ok).
            allow_sign_up = true
          ldap_toml: |
            [[servers]]
            host = "ldap1.example.com ldap2.example.com ldap3.example.com"
            port = 636
            use_ssl = true
            start_tls = false
            ssl_skip_verify = false
            bind_dn = "uid=ldap_reader,cn=users,dc=example,dc=com"
            bind_password = "Secret123"
            search_filter = "(uid=%s)"
            [servers.attributes]
            member_of = "memberOf"
            email =  "mail"
            name = "givenName"
            surname = "sn"
            username = "uid"
            [[servers.group_mappings]]
            group_dn = "cn=grafana,cn=groups,dc=example,dc=com"
            org_role = "Viewer"
    - name: grafana.another-example.com
      default_instance: prod # optional, redirect to this instance if exist, make html list if not
      instances:
        - name: prod
          port: 3002
          image: grafana/grafana:8.5.3-ubuntu
          admin_password: xxx
          install_plugins: grafana-clock-panel,grafana-simple-json-datasource
          image_renderer:
            external: true
            version: latest
            {% set renderer_port = 8083 %}
            port: {{ renderer_port }}
          config: |
            instance_name = grafana.another-example.com-prod
            [server]
            root_url = https://grafana.another-example.com/prod
            serve_from_sub_path = true
            [database]
            url = postgres://another-grafana-prod:xxx@grafana1.example.com:5432/another-grafana-prod
            [log]
            level = info
            mode = console file
            filters = rendering:debug
            [rendering]
            server_url = http://{{ grains['fqdn'] }}:{{ renderer_port }}/render
            callback_url = https://grafana.another-example.com/prod/
            [unified_alerting.screenshots]
            capture = true
