hosts:
  present:
    1.2.3.4:
      names:
        - srv1.example.com
        - srv2.example.com
      comment: This is comment
      clean: True

  absent:
    2.3.4.5:
      names:
        - srv3.example.com
        - srv4.example.com
