authentik:
  domain: authentik.example.com
  version: 2023.10.4
  env_vars:
    AUTHENTIK_BOOTSTRAP_PASSWORD: XXXXXXXXXXXXXXXXXXXXXXXXXXXX
    AUTHENTIK_BOOTSTRAP_TOKEN: XXXXXXXXXXXXXXXXXXXXXXXXXXXX
    AUTHENTIK_BOOTSTRAP_EMAIL: akadmin@example.com
    AUTHENTIK_DEFAULT_USER_CHANGE_NAME: true
    AUTHENTIK_SECRET_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXX
    AUTHENTIK_POSTGRESQL__HOST: {{ grains['id'] }}
    AUTHENTIK_POSTGRESQL__USER: authentik
    AUTHENTIK_POSTGRESQL__NAME: authentik
    AUTHENTIK_POSTGRESQL__PASSWORD: XXXXXXXXXXXXXXXXXXXXXXXXXXXX
    AUTHENTIK_EMAIL__HOST: smtp.example.com
    AUTHENTIK_EMAIL__PORT: 587
    AUTHENTIK_EMAIL__USE_TLS: true
    AUTHENTIK_EMAIL__USE_SSL: false
    AUTHENTIK_EMAIL__USERNAME: authentik@example.com
    AUTHENTIK_EMAIL__PASSWORD: XXXXXXXXXXXXXXXXXXXXXXXXXXXX
    AUTHENTIK_EMAIL__FROM: authentik@example.com
    AUTHENTIK_ERROR_REPORTING__ENABLED: true
    AUTHENTIK_LOG_LEVEL: debug