# vi: set ft=yaml:

rabbitmq:
  version: 4.2.3 # optional, specific version or latest, if omitted, install latest first, then keep it without upgrades
  #local_ip: 1.2.3.4 # optional, make sure /etc/hosts has short hostname resolution to this local IP, otherwise rabbitmq will not start, if omitted, 127.0.1.1 is used
  config: # optional
    - 'key = val' # see https://github.com/rabbitmq/rabbitmq-server/blob/v3.7.x/docs/rabbitmq.conf.example, each item is copied as is
  admin:
    name: root
    password: USE_YOUR_OWN
  management_domain: rabbit.example.com # if rabbitmq_management is enabled, acme is used for cert request, see acme state
  subjectAltNames: 'www.rabbit.example.com rabbit1.example.com' #specify all additional domains separated by a space that should be in the ssl certificate
  management_port: 15672 # you cannot use 443 port because of privileges
  acme_account: example.com # acme state account
  plugins: # optional
    - rabbitmq_management
  vhosts:
    - name: vhost_a
      present: True
      absent: False
    - name: vhost_b
      present: True
      absent: False
  users:
    - name: foo
      password: PASS_FOR_USER
      present: True
      absent: False
      tags: # optional
        - management # management is required to access management site
      perms: # at least one required
        - /:
            - '.*'
            - '.*'
            - '.*'
        - vhost_a:
            - '.*'
            - '.*'
            - '.*'
        - vhost_b:
            - '.*'
            - '.*'
            - '.*'
  policies: # optional
    - name: HA
      present: True
      absent: False
      pattern: '.*'
      definition: '{"ha-mode": "all"}'
      priority: 0
      vhost: vhost_a
      apply_to: all
