# vi: set ft=yaml:

gitlab:
  version: latest # latest or version like 14.8.3
  root_password: xxxxxxxxxxxxxxxxxxx
  distribution: ce # ce or ee, see https://about.gitlab.com/handbook/marketing/strategic-marketing/tiers/#history-of-ce-and-ee-distributions
  domain: gitlab.example.com
  acme_account: example.com # use either acme_account or ssl_certificate + ssl_certificate_key
  #ssl_certificate:
  #  file: /etc/ssl/example.com/ssl.crt
  #  contents: |
  #    -----BEGIN CERTIFICATE-----
  #    ...
  #    -----END CERTIFICATE-----
  #ssl_certificate_key:
  #  file: /etc/ssl/example.com/ssl.key
  #  contents: |
  #    -----BEGIN PRIVATE KEY-----
  #    ...
  #    -----END PRIVATE KEY-----
  #redirect: # optional, add custom nginx config with redirect from other domain
  #  domain: gitlab.old-example.com
  #  acme_account: old-example.com # use either acme_account or ssl_certificate + ssl_certificate_key
  #  #ssl_certificate:
  #  #  file: /etc/ssl/example.com/ssl.crt
  #  #  contents: |
  #  #    -----BEGIN CERTIFICATE-----
  #  #    ...
  #  #    -----END CERTIFICATE-----
  #  #ssl_certificate_key:
  #  #  file: /etc/ssl/example.com/ssl.key
  #  #  contents: |
  #  #    -----BEGIN PRIVATE KEY-----
  #  #    ...
  #  #    -----END PRIVATE KEY-----
  mattermost: # optional, enable bundled mattermost instance
    domain: mattermost.example.com
    acme_account: example.com
    #ssl_certificate:
    #  file: /etc/ssl/example.com/ssl.crt
    #  contents: |
    #    -----BEGIN CERTIFICATE-----
    #    ...
    #    -----END CERTIFICATE-----
    #ssl_certificate_key:
    #  file: /etc/ssl/example.com/ssl.key
    #  contents: |
    #    -----BEGIN PRIVATE KEY-----
    #    ...
    #    -----END PRIVATE KEY-----
  #gitaly_ruby_num_workers: 4 # has been deprecated since 16.0 and was removed in 17.0. Gitaly-ruby is removed in GitLab 16.0, and thus this setting is now unused
  google_oauth2:
    app_id: xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
    app_secret: xxxxxxxxxxxxxxxxxxxxxxxx
  smtp:
    address: smtp.gmail.com
    port: 587
    user_name: gitlab@example.com
    password: xxxxxxxxxxxxxxxxxxxxx
    domain: smtp.gmail.com
  incoming_email:
    address: gitlab+%{key}@example.com
    email: gitlab@example.com
    password: xxxxxxxxxxxxxxxxxxxxx
    host: imap.gmail.com
    port: 993
    mailbox_name: inbox
  postgresql:
    md5_auth_cidr_addresses: "1.2.3.4/32 2.3.4.5/32"
    sql_user_password: xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  cron:
    backup_cmd: "find /var/backups/gitlab_backups -name '*_gitlab_backup.tar' -delete >/dev/null; gitlab-backup create SKIP=registry >/dev/null"
    registry_garbage_collect_cmd: "gitlab-ctl registry-garbage-collect -m >/dev/null"
    # double \\ is for salt escape of escape
    clean_job_artifacts_cmd: 'find /var/lib/gitlab_artifacts -type f \\( -name job.log -o -name artifacts.zip -o -name metadata.gz \\) -mtime +30 -delete -exec sleep 0.001 \\; >/dev/null; find /var/lib/gitlab_artifacts -mindepth 1 -type d -empty -delete -exec sleep 0.001 \\; >/dev/null'
  #config_additions: |
  #  sidekiq['queue_groups'] = ['*'] * 8 # https://docs.gitlab.com/ee/administration/sidekiq/extra_sidekiq_processes.html
  #  sidekiq['max_concurrency'] = 10 # has been deprecated since 16.9 and was removed in 17.0. Starting with GitLab 17.0, `sidekiq['max_concurrency']` will be removed.

# example for rsnapshot_backup
rsnapshot_backup:
  sources:
    gitlab1.example.com:
      - type: RSYNC_SSH
        data:
          - UBUNTU
          - /opt/gitlab
          - /opt/acme
          - /var/backups/gitlab_backups
          #- /var/lib/gitlab_docker_registry
          #- /var/lib/gitlab_artifacts
          #- /var/opt/gitlab/mattermost
        checks:
          - type: .backup
        backups:
          - host: gitlab1.example.com
            path: /var/backups/gitlab1.example.com
          - host: backup1.example.com
            path: /var/backups/gitlab1.example.com
