sentry:
  acme_account: example.com
  acme_domain: sentry.example.com
  version: '22.6.0'
  secret: '7lqun0fxeblz^m5i@!45*6+@263-b-i^^s&!2db*&792#41h*1'                            # To generate secret, leave blank and run state sentry
  url: 'https://sentry.example.com'
  admin_email: 'admin@example.com'
  admin_password: 'xxxxxxxxxxxxxxxxxx'
  config:
    features:
      auth_register: True
      projects_plugins: True
    email:
      backend: 'smtp'
      host: 'smtp.gmail.com'
      port: 587
      username: 'sentry@example.com'
      password: 'xxxxxxxxxxxxxxxxxx'
      tls: True
      from: root@localhost
      enable_replies: False
      reply_hostname: ''
    web:
      ssl: True
  webhooks:
    matrix:
      image: 'matrixdotorg/matrix-sentry-webhooks:latest'
      acme_account: example.com
      acme_domain: sentry-matrix-webhook.example.com
      env_vars:
        APP_PORT: 3000
        SENTRY_CLIENT_SECRET: 'yyyyyyyyyyyyyyyyyy'
        SENTRY_INCLUDE_TAGS: 'brand,BRAND,DOMAIN'
        MATRIX_HOMESERVER_URL: 'https://oxgaming.ems.host'
        MATRIX_ROOMS: 'room1/!aaaaaaaaaaaaaaaaaa:example.com|room2/!bbbbbbbbbbbbbbbbbb:example.com|room3/!cccccccccccccccccc:example.com|room4/!ddddddddddddddddd:example.com'
        MATRIX_TOKEN: 'zzzzzzzzzzzzzzzzzz'
        MATRIX_USER: '@sentry:example.com'





#######################################################################
# If necessary, you can install only a webhook.
# You can also build locally a docker image from a forked and modified repository by Roma Kasyanchuk

sentry:
  webhooks:
    matrix:
      use_roman_k_fork: True
      repo: 'https://github.com/kraicdesign/matrix-sentry-webhooks.git'
      image: 'docker.local/oxg-webhook/webhook'
      acme_account: example.com
      acme_domain: sentry-matrix-webhook.example.com
      env_vars:
        APP_PORT: 3000
        APP_TIMEOUT: 1000
        SENTRY_CLIENT_SECRET: 'yyyyyyyyyyyyyyyyyy'
        SENTRY_INCLUDE_TAGS: 'brand,BRAND,DOMAIN'
        MATRIX_HOMESERVER_URL: 'https://oxgaming.ems.host'
        MATRIX_ROOMS: 'room1/!aaaaaaaaaaaaaaaaaa:example.com|room2/!bbbbbbbbbbbbbbbbbb:example.com|room3/!cccccccccccccccccc:example.com|room4/!ddddddddddddddddd:example.com'
        MATRIX_TOKEN: 'zzzzzzzzzzzzzzzzzz'
        MATRIX_USER: '@sentry:example.com'



#######################################################################
# If necessary, you can configure a catcher root email only

sentry:
  catch_root_email:
    enabled: True
    SENTRY_URL: 'https://sentry.exampe.com/'
    SENTRY_DSN: 'https://71b11b6b8b814bc183e0c30a702eeb08@sentry.exampe.com/2'
    SENTRY_AUTH_TOKEN: '35baa0f825e84ac29d009890830b7467dbf30d9cbe5b4ecfbbcb3eeb958c802a'
