collabora:
  nginx_sites_enabled: true
  domains:
    - name: collabora.example.com
      acme_configs:
        - name: example.com
          domains:
            - collabora.example.com
            - collabora-new.example.com
      internal_name: prod
      internal_port: 9980
      image: collabora/code:23.05.1.2.1
      env_vars:
        username: admin
        password: XXXXXXXXXXXXXXXXXXXXX
        server_name: collabora.example.com
        aliasgroup1: https://nextcloud.example.com:443
        dictionaries: de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT ru uk_UA
    - name: collabora.tst.example.com
      acme_configs:
        - name: example2.com
          domains:
            - collabora.tst.example2.com
            - collabora3.example2.com
      internal_name: test
      internal_port: 9981
      image: collabora/code:latest
      env_vars:
        username: admin
        password: YYYYYYYYYYYYYYYYYYYY
        server_name: collabora.tst.example.com
        aliasgroup1: https://nextcloud.tst.example.com:443

## FOR INSTALL FULL COLLABORA ONLINE FROM CUSTOMER DEB
collabora:
  full: true
  nginx_sites_enabled: true
  name: collabora.example.com
  customer_hash: EAXMPLE-1eba3132499b6d24b127484ccc932e63d1717b21
  coolwsd_xml:
    template: salt://collabora/coolwsd.xml.jinja
    values:
      user: admin
      password: very-strong-pass
      ssl: false
      ssl_termination: true
      alias_groups:
        mode: groups
        groups:
        - https://nextcloud.example.com:443
        - https://next1.example.com:443
        - https://next2.example.com:443

