collabora:
  domains:
    - name: collabora.example.com
      internal_name: prod
      internal_port: 9980
      image: collabora/code:23.05.1.2.1
      env_vars:
        username: admin
        password: XXXXXXXXXXXXXXXXXXXXX
        server_name: collabora.example.com
        aliasgroup1: https://nextcloud.example.com:443
        dictionaries: de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT ru uk_UA
    - name: collabora.tst.example.com
      internal_name: test
      internal_port: 9981
      image: collabora/code:latest
      env_vars:
        username: admin
        password: YYYYYYYYYYYYYYYYYYYY
        server_name: collabora.tst.example.com
        aliasgroup1: https://nextcloud.tst.example.com:443
