[Unit]
Description=uWSGI service for app alerta

[Service]
ExecStart=/opt/alerta/alerta/venv/bin/uwsgi --ini /etc/uwsgi/sites/alerta.ini
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
