# backup1.domain.com - server for backups
# srv1.domain.com - just a server with data 

# backup1.domain.com
rsnapshot_backup:
  backup_server: True
  sources:
    backup1.domain.com:
      - type: FS_RSYNC_SSH
        data:
          - UBUNTU # ['/etc','/home','/root','/var/log','/var/spool/cron','/usr/local','/lib/ufw','/opt/sysadmws']
          - DEBIAN # ['/etc','/home','/root','/var/log','/var/spool/cron','/usr/local','/lib/ufw','/opt/sysadmws']
          - CENTOS # ['/etc','/home','/root','/var/log','/var/spool/cron','/usr/local']
        # checks are optional
        checks:
          - type: .backup
        backups:
          - host: backup1.domain.com
            path: /var/backups/backup1.domain.com
            # optional, by default connect to source hostname and 22 port
            connect: 1.2.3.4:22
        # optional params with default values
        validate_hostname: True # disable remote hostname check
        postgresql_noclean: False
        mysql_noevents: False
        native_txt_check: False
        native_10h_limit: False
        retain_hourly: N
        retain_daily:
        retain_weekly: 
        retain_monthly: 
        rsync_args: 
        connect_user: 
        connect_password: 
        exec_before_rsync: # avoid using single and double quotes, beware - it will be executed for each item in data:, so make separate FS_RSYNC_SSH to exec only once
        checks:
          #
          - type: .backup
            put_at_utc_hour: True
          #
          - type: s3/.backup
            s3_bucket:
            s3_path:
            s3_keyid: 
            s3_key: 
          #
          - type: FILE_AGE
            min_file_size:
            file_type: 
            last_file_age: 
            files_total:
            files_mask:
          #
          - type: MYSQL
            empty_db:
              - a
              - b
          #
          - type: POSTGRESQL
            empty_db:
              - a
              - b
      - type: POSTGRESQL
        data:
          - ALL
        checks:
          - type: POSTGRESQL
            empty_db:
              - postgres
              - template0
              - template1
        backups:
          - host: backup1.domain.com
            path: /var/backups/srv1.domain.com
      - type: MYSQL
        data:
          - ALL
        checks:
          - type: MYSQL
            empty_db:
              - test
        backups:
          - host: backup1.domain.com
            path: /var/backups/srv1.domain.com
      - type: FS_RSYNC_NATIVE
        data:
          - /Share1/Some/Path
          - /Share2/Other/Path
        connect_user: root
        connect_password: secret
        checks:
          - type: .backup
            data: /Share1/Some/Path # dot backup files can have real path substituted by matching data key
            path: C:\Some Actual\Windows Path\Some\Path
          - type: .backup
            data: /Share2/Other/Path
            path: D:\Completely Another\Windows Path\Other\Path
          - type: FILE_AGE
            data: /Share1/Some/Path # FILE_AGE check must have matching data key
            min_file_size: 1000000000
            file_type: (data|executable) # regexp which will be matched agains unix command type
            last_file_age: 3
            files_total: 3
            files_mask: 123.+_321\..+\.DOC # regexp for find command
          - type: FILE_AGE
            data: /Share2/Other/Path
            min_file_size: 1
            file_type: text
            last_file_age: 1
            files_total: 1
            files_mask: test\.txt
        backups:
          - host: backup1.domain.com
            path: /var/backups/winsrv1.domain.com

# multi backup server example
# srv1.domain.com, backup1.domain.com should see tha same pillar data
rsnapshot_backup:
  sources:
    srv1.domain.com:
      - type: FS_RSYNC_SSH
        data:
          - UBUNTU
          - /srv
        checks:
          - type: .backup
        backups:
          - host: srv1.domain.com
            path: /var/backups/srv1.domain.com
          - host: backup1.domain.com
            path: /var/backups/srv1.domain.com
