{%- for source in host_backups_item['data'] %}
        - enabled: True
          connect: {{ backup['connect'] if backup['connect'] is defined else host }}
          host: {{ host }}
          type: {{ host_backups_item['type'] }}
          source: {{ source }}
          validate_hostname: {{ host_backups_item['validate_hostname']|default(True) }}
          postgresql_noclean: {{ host_backups_item['postgresql_noclean']|default(False) }}
          mysql_noevents: {{ host_backups_item['mysql_noevents']|default(False) }}
          native_txt_check: {{ host_backups_item['native_txt_check']|default(False) }}
          native_10h_limit: {{ host_backups_item['native_10h_limit']|default(False) }}
          path: {{ backup['path'] }}
  {%- if host_backups_item['retain_hourly'] is defined and host_backups_item['retain_hourly'] is not none %}
          retain_hourly: {{ host_backups_item['retain_hourly'] }}
  {%- endif %}
  {%- if host_backups_item['retain_daily'] is defined and host_backups_item['retain_daily'] is not none %}
          retain_daily: {{ host_backups_item['retain_daily'] }}
  {%- endif %}
  {%- if host_backups_item['retain_weekly'] is defined and host_backups_item['retain_weekly'] is not none %}
          retain_weekly: {{ host_backups_item['retain_weekly'] }}
  {%- endif %}
  {%- if host_backups_item['retain_monthly'] is defined and host_backups_item['retain_monthly'] is not none %}
          retain_monthly: {{ host_backups_item['retain_monthly'] }}
  {%- endif %}
  {%- if host_backups_item['rsync_args'] is defined and host_backups_item['rsync_args'] is not none %}
          rsync_args: {{ host_backups_item['rsync_args'] }}
  {%- endif %}
  {%- if host_backups_item['mysqldump_args'] is defined and host_backups_item['mysqldump_args'] is not none %}
          mysqldump_args: {{ host_backups_item['mysqldump_args'] }}
  {%- endif %}
  {%- if host_backups_item['mongo_args'] is defined and host_backups_item['mongo_args'] is not none %}
          mongo_args: {{ host_backups_item['mongo_args'] }}
  {%- endif %}
  {%- if host_backups_item['connect_user'] is defined and host_backups_item['connect_user'] is not none %}
          connect_user: {{ host_backups_item['connect_user'] }}
  {%- endif %}
  {%- if host_backups_item['connect_password'] is defined and host_backups_item['connect_password'] is not none %}
          connect_password: {{ host_backups_item['connect_password'] }}
  {%- endif %}
  {# per backup host item is higher priority than per backup item #}
  {%- if "before_backup_check" in backup %}
          before_backup_check: {{ backup['before_backup_check'] }}
  {%- elif "before_backup_check" in host_backups_item %}
          before_backup_check: {{ host_backups_item['before_backup_check'] }}
  {%- endif %}
  {%- if host_backups_item['exec_before_rsync'] is defined and host_backups_item['exec_before_rsync'] is not none %}
          exec_before_rsync: {{ host_backups_item['exec_before_rsync'] }}
  {%- endif %}
  {%- if host_backups_item['exec_after_rsync'] is defined and host_backups_item['exec_after_rsync'] is not none %}
          exec_after_rsync: {{ host_backups_item['exec_after_rsync'] }}
  {%- endif %}
  {%- if host_backups_item['checks'] is defined and host_backups_item['checks'] is not none %}
          checks:
    {%- for check in host_backups_item['checks'] %}
      {%- if check['data'] is defined and check['data'] is not none %}
        {%- if check['data'] == source %}
            - type: {{ check['type'] }}
          {%- if check['path'] is defined and check['path'] is not none %}
              path: {{ check['path'] }}
          {%- endif %}
          {%- if check['min_file_size'] is defined and check['min_file_size'] is not none %}
              min_file_size: {{ check['min_file_size'] }}
          {%- endif %}
          {%- if check['file_type'] is defined and check['file_type'] is not none %}
              file_type: '{{ check['file_type'] }}'
          {%- endif %}
          {%- if check['last_file_age'] is defined and check['last_file_age'] is not none %}
              last_file_age: {{ check['last_file_age'] }}
          {%- endif %}
          {%- if check['files_total'] is defined and check['files_total'] is not none %}
              files_total: {{ check['files_total'] }}
          {%- endif %}
          {%- if check['files_mask'] is defined and check['files_mask'] is not none %}
              files_mask: '{{ check['files_mask'] }}'
          {%- endif %}
          {%- if check['s3_bucket'] is defined and check['s3_bucket'] is not none %}
              s3_bucket: '{{ check['s3_bucket'] }}'
          {%- endif %}
          {%- if check['s3_path'] is defined and check['s3_path'] is not none %}
              s3_path: '{{ check['s3_path'] }}'
          {%- endif %}
        {%- endif %}
      {%- else %}
            - type: {{ check['type'] }}
        {%- if check['empty_db'] is defined and check['empty_db'] is not none %}
              empty_db: {{ check['empty_db'] }}
        {%- endif %}
        {%- if check['path'] is defined and check['path'] is not none %}
              path: {{ check['path'] }}
        {%- endif %}
        {%- if check['min_file_size'] is defined and check['min_file_size'] is not none %}
              min_file_size: {{ check['min_file_size'] }}
        {%- endif %}
        {%- if check['file_type'] is defined and check['file_type'] is not none %}
              file_type: '{{ check['file_type'] }}'
        {%- endif %}
        {%- if check['last_file_age'] is defined and check['last_file_age'] is not none %}
              last_file_age: {{ check['last_file_age'] }}
        {%- endif %}
        {%- if check['files_total'] is defined and check['files_total'] is not none %}
              files_total: {{ check['files_total'] }}
        {%- endif %}
        {%- if check['files_mask'] is defined and check['files_mask'] is not none %}
              files_mask: '{{ check['files_mask'] }}'
        {%- endif %}
        {%- if check['s3_bucket'] is defined and check['s3_bucket'] is not none %}
              s3_bucket: '{{ check['s3_bucket'] }}'
        {%- endif %}
        {%- if check['s3_path'] is defined and check['s3_path'] is not none %}
              s3_path: '{{ check['s3_path'] }}'
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
{%- endfor  %}
