# vi: set ft=yaml:

gitlab-runner:
  gitlab:
    url: https://gitlab.example.com/
    admin_token: xxxxxxxxxxxxxxxxxxx # needed to cleanup runners in projects
    registration_token: xxxxxxxxxxxxxxxxxx # since approx 15.4 version of GitLab you cannot register project level runners with instance level token, use any legit project registration token here
  register_opts: "--locked --docker-privileged --docker-image 'docker:stable' --access-level='ref_protected'"
  name: some-runner1.example.com
  executor: docker
  tags: some-runner1.example.com,dev
  concurrency: 50
  docker_group: True # add runner user to docker group to use docker
  projects: # optional, add runner to projects
    - somegroup/project1
    - somegroup/project2
  keys: # optional, put keys into runner home .ssh
    id_ed25519:
      priv: |
        -----BEGIN OPENSSH PRIVATE KEY-----
	...
	-----END OPENSSH PRIVATE KEY-----
      pub: |
        ssh-ed25519 AAAA...
  #docker_clean_cron: # optional, clean everything in docker
  #  minute: 10
  #  hour: 4
