# vi: set ft=yaml:

# New flow with authentication token
# https://docs.gitlab.com/runner/register/
gitlab-runner:
  gitlab:
    url: https://gitlab.example.com/
    authentication_token: glrt-xxxxxxxxxxxxxxxxxxxx
  #listen_address: "0.0.0.0:8093" # optional, defines an address (<host>:<port>) the Prometheus metrics HTTP server should listen on. 
  name: some-runner1.example.com # mandatory, name is used to register and unregister runner on consequent runs
  executor: shell # mandatory, executor type
  #register_opts: "" # optional, additional options for gitlab-runner register command
  concurrency: 50 # mandatory, concurrency defines how many jobs can be run in parallel runner server wide
  docker_group: True # optional, add runner user to docker group to use docker
  # --- docker executor with dind example start ---
  # docker executor requires docker image to be specified and privileged mode to run docker in docker (dind)
  # more info:
  # - https://docs.gitlab.com/runner/executors/docker/#use-docker-in-docker-with-privileged-mode
  # - https://docs.gitlab.com/ci/docker/using_docker_build/#use-the-docker-executor-with-docker-in-docker
  # - https://docs.gitlab.com/ci/docker/using_docker_build/#make-docker-in-docker-builds-faster-with-docker-layer-caching
  # key points for gitlab-ci.yml:
  # variables:
  #  DOCKER_DRIVER: overlay2
  #  DOCKER_TLS_CERTDIR: "/certs"
  # default:
  #   image: docker:29.1.4-cli
  #   services:
  #     - docker:29.1.4-dind
  #executor: docker
  #register_opts: "--docker-image 'docker:29.1.4-cli' --docker-privileged --docker-volumes '/certs/client'"
  #docker_group: False # not needed with dind
  # --- docker executor with dind example end ---
  keys: # optional, put keys into runner home .ssh
    id_ed25519:
      priv: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        ...
        -----END OPENSSH PRIVATE KEY-----
      pub: |
        ssh-ed25519 AAAA...
  #docker_clean_cron: # optional, clean everything in docker
  #  minute: 10
  #  hour: 4

# Old flow with registration token
# https://docs.gitlab.com/runner/register/
gitlab-runner:
  gitlab:
    url: https://gitlab.example.com/
    admin_token: xxxxxxxxxxxxxxxxxxx # needed to cleanup runners in projects
    registration_token: xxxxxxxxxxxxxxxxxx # since approx 15.4 version of GitLab you cannot register project level runners with instance level token, use any legit project registration token here
  register_opts: "--locked --docker-privileged --docker-image 'docker:stable' --access-level='ref_protected'" # optional, additional options for gitlab-runner register command
  listen_address: "0.0.0.0:8093" # optional, defines an address (<host>:<port>) the Prometheus metrics HTTP server should listen on. 
  name: some-runner1.example.com
  executor: docker
  tags: some-runner1.example.com,dev
  concurrency: 50
  docker_group: True # add runner user to docker group to use docker
  projects: # optional, add runner to projects
    - somegroup/project1
    - somegroup/project2
  keys: # optional, put keys into runner home .ssh
    id_ed25519:
      priv: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        ...
        -----END OPENSSH PRIVATE KEY-----
      pub: |
        ssh-ed25519 AAAA...
  #docker_clean_cron: # optional, clean everything in docker
  #  minute: 10
  #  hour: 4

