drweb:
  acme_account: example.com
  servername: drweb.example.com
  ip: 1.2.3.4
  smtp_milter_port: 13333
  secret_word: XXXXXXXXXXXXXXX
  ScanEngine_LogLevel: Debug
  Antispam_LogLevel: Debug
  MailD_LogLevel: Debug
  MailD_MilterDebugIpc: 'Yes'
  MailD_MilterTraceContent: 'Yes'
  license_key: path/to/drweb/license.key
  MilterHook: path/to/drweb/milter_hook.lua
    whitelist_send_to: path/to/drweb/whitemails_to.txt
    whitelist_send_from: path/to/drweb/whitemails.txt
    blacklist_send_from: path/to/drweb/blackemails.txt