drweb:
  ip: 1.2.3.4
  smtp_milter_port: 13333
  secret_word: XXXXXXXXXXXXXXX
  ScanEngine_LogLevel: Debug
  Antispam_LogLevel: Debug
  MailD_LogLevel: Debug
  MailD_MilterDebugIpc: Yes
  MailD_MilterTraceContent: Yes