server {
    listen {{ vhost["listen_port"] }} ssl;
    server_name {{ server_names | join(" ") }};

    include snippets/ssl-params.conf;
    ssl_certificate {{ cert_file }};
    ssl_certificate_key {{ key_file }};

    access_log {{ vhost["logs"]["access"] }};
    error_log {{ vhost["logs"]["error"] }};
{%- if vhost.get("extra_config") %}

{{ vhost["extra_config"] | trim | indent(4, True) }}
{%- endif %}

    location / {
        proxy_pass {{ vhost["backend"] }};
{%- for header, value in vhost.get("proxy_headers", {}).items() %}
        proxy_set_header {{ header }} {{ value }};
{%- endfor %}
    }
}
{%- if vhost.get("http_redirect", False) %}

server {
    listen 80;
    server_name {{ server_names | join(" ") }};
    return 301 https://$host{{ "" if vhost["listen_port"] | int == 443 else ":" ~ vhost["listen_port"] }}$request_uri;
}
{%- endif %}
