# https://github.com/NLnetLabs/unbound/blob/master/doc/example.conf.in
# https://nlnetlabs.nl/documentation/unbound/unbound.conf/

unbound:
  logfile: /var/log/unbound.log
  root_hints: /var/lib/unbound/root.hints
  files: # see https://github.com/microdevops-com/microdevops-formula/tree/master/_include/file_manager
    managed:
      main:
        - name: /etc/unbound/unbound.conf.d/main.conf
          contents: |
            server:

                do-daemonize: no
                interface: 0.0.0.0
                access-control: 0.0.0.0/0 allow # makes sense when the access is managed by firewall
                access-control: 127.0.0.0/8 allow_snoop
                do-ip6: no

                auto-trust-anchor-file: "/var/lib/unbound/root.key"
                root-hints: "/var/lib/unbound/root.hints"
                logfile: "/var/log/unbound.log"
                use-syslog: no
                log-time-ascii: yes
                statistics-interval: 60
                extended-statistics: yes

                num-threads: 8
                msg-cache-slabs: 8
                rrset-cache-slabs: 8
                infra-cache-slabs: 8
                key-cache-slabs: 8
                outgoing-range: 100

                prefetch: yes
                rrset-cache-size: 1g
                key-cache-size: 100m
                neg-cache-size: 10m
                msg-cache-size: 100m
                cache-max-ttl: 3600
                infra-cache-numhosts: 120000

            remote-control:
                control-enable: yes
                control-interface: 127.0.0.1
                control-port: 953
