mysql_increment_checker:
  enabled: True # enable or disable configuration of mysql_increment_checker for certain host
  #cron_disabled: True # Optional, disable cron
  config:
    auto_increment_ratio: 70 # mandatory, the threshold for alert
    my_cred: "~/.my.cnf" # optional, path tho the my.cnf file
    enabled: True # enable or disable checks for certain host
    exclude_patterns: # will match against db_name.table_name compound string
      - .*_dev_.*
      - .*_local
      - ^tmp
