{#
This file should be included in pillar, which sets the following:
{% set acme_cf_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
{% set acme_cf_email = "login@cloudflare.com" %}

And then:
{% include 'pkg/acme_cloudflare.jinja' with context %}
#}

pkg:
  acme:
    when: 'PKG_BEFORE_DEPLOY'
    states:
      - git.latest:
          acme:
            - name: https://github.com/Neilpang/acme.sh.git
            - target: /opt/acme/git
            - force_reset: True
            - force_fetch: True
      - file.directory:
          1:
            - name: /opt/acme/home
            - makedirs: True
          2:
            - name: /opt/acme/cert
            - makedirs: True
          3:
            - name: /opt/acme/config
            - makedirs: True
      - cmd.run:
          1:
            - name: '/opt/acme/git/acme.sh --home /opt/acme/home --cert-home /opt/acme/cert --config-home /opt/acme/config --install'
            - runas: root
            - cwd: /opt/acme/git
      - environ.setenv:
          1:
            - name: CF_Key
            - value: "{{ acme_cf_key }}"
            - update_minion: True
          2:
            - name: CF_Email
            - value: "{{ acme_cf_email }}"
            - update_minion: True
      - file.managed:
          1:
            - name: '/opt/acme/home/acme_local.sh'
            - mode: 0700
            - contents: |
                #!/bin/bash
                export CF_Key="{{ acme_cf_key }}"
                export CF_Email="{{ acme_cf_email }}"
                /opt/acme/home/acme.sh --home /opt/acme/home --cert-home /opt/acme/cert --config-home /opt/acme/config --dns dns_cf "$@"
