{#
This file should be included in pillar, which sets the following:
{% set root_email = "email@example.com" %}

And then:
{% include 'pkg/forward_root_email.jinja' with context %}
#}

pkg:
  forward_root_email:
    when: PKG_PKG
    states:
      - alias.present:
          1:
            - name: root
            - target: {{ root_email }}
      - cmd.run:
          1:
            - name: /usr/bin/newaliases
            - runas: root
