{#
tip: to clean up previous install:
  - apt-get purge gitlab-ce
  - rm -rf /etc/gitlab /opt/gitlab /var/opt/gitlab /run/gitlab /var/log/gitlab
  - reboot

tip: you need to add and setup acme.sh like setting up pillar:
{% set acme_auth_id = "xxxx" %}
{% set acme_auth_password = "xxxxxxxxxxxxxxxxxxxxxxxxx" %}
{% include 'pkg/acme_cloudns.jinja' with context %}

tip:
This file should be included in pillar like this:
{% set gitlab_ext_name = "gitlab.example.com" %}
{% set gitlab_google_app_id = "xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com" %}
{% set gitlab_google_app_secret = "xxxxxxxxxxxxxxxxxxxxxxxx" %}
{% include 'pkg/gitlab-ce.jinja' with context %}

tip:
Here are the steps needed to connect google auth:
https://docs.gitlab.com/ee/integration/google.html
#}

pkg:
  gitlab-ce:
    when: 'PKG_AFTER_DEPLOY'
    states:
      - pkgrepo.managed:
          1:
            - humanname: Gitlab CE Repository
            - name: deb https://packages.gitlab.com/gitlab/gitlab-ce/{{ grains['os']|lower }}/ {{ grains['oscodename'] }} main
            - file: /etc/apt/sources.list.d/gitlab-ce.list
            - key_url: https://packages.gitlab.com/gitlab/gitlab-ce/gpgkey
      - environ.setenv:
          1:
            - name: EXTERNAL_URL
            - value: "http://{{ gitlab_ext_name }}"
            - update_minion: True
      - pkg.latest:
          1:
            - refresh: True
            - pkgs:
              - gitlab-ce
      - cmd.run:
          1:
            - name: 'test ! -f /etc/gitlab/gitlab.rb.orig && cp /etc/gitlab/gitlab.rb /etc/gitlab/gitlab.rb.orig || true'
            - runas: 'root'
      - cmd.run:
          1:
            - name: '/opt/acme/home/acme.sh --home /opt/acme/home --cert-home /opt/acme/cert --config-home /opt/acme/config --issue --dns dns_cloudns -d {{ gitlab_ext_name }} --renew-hook "gitlab-ctl restart"'
            - cwd: /opt/acme/home
            - runas: root
      - file.managed:
          1:
            - name: /etc/gitlab/gitlab.rb
            - contents: |
                external_url 'https://{{ gitlab_ext_name }}'
                nginx['redirect_http_to_https'] = true
                nginx['ssl_certificate'] = "/opt/acme/cert/{{ gitlab_ext_name }}/fullchain.cer"
                nginx['ssl_certificate_key'] = "/opt/acme/cert/{{ gitlab_ext_name }}/{{ gitlab_ext_name }}.key"
                gitlab_rails['omniauth_enabled'] = true
                gitlab_rails['omniauth_allow_single_sign_on'] = ['google_oauth2']
                gitlab_rails['omniauth_block_auto_created_users'] = true
                gitlab_rails['omniauth_providers'] = [
                  { 
                    "name" => "google_oauth2",
                    "app_id" => "{{ gitlab_google_app_id }}",
                    "app_secret" => "{{ gitlab_google_app_secret }}",
                    "args" => { "access_type" => "offline", "approval_prompt" => '' }
                  }
                ]
      - environ.setenv:
          1:
            - name: EXTERNAL_URL
            - value: "https://{{ gitlab_ext_name }}"
            - update_minion: True
      - cmd.run:
          1:
            - name: 'gitlab-ctl reconfigure'
            - runas: 'root'
