{%- if pillar["keepalived"]["config"]["global_defs"] is defined -%}
global_defs {
  {{ pillar["keepalived"]["config"]["global_defs"] }}
}
{% endif %}
{%- if pillar["keepalived"]["config"]["vrrp"]["scripts"] is defined -%}
  {%- for vrrp_script in pillar["keepalived"]["config"]["vrrp"]["scripts"] -%}
vrrp_script {{ vrrp_script["name"] }} {
  script "{{ vrrp_script["cmd"] }}"
}
  {% endfor %}
{% endif %}
{%- for vrrp_instance in pillar["keepalived"]["config"]["vrrp"]["instances"] -%}
vrrp_instance {{ vrrp_instance["name"] }} {
  {% if vrrp_instance["state"] is defined -%}
  state {{ vrrp_instance["state"] }}
  {% endif -%}
  virtual_router_id {{ vrrp_instance["virtual_router_id"] }}
  {% if vrrp_instance["interface"] is defined -%}
  interface {{ vrrp_instance["interface"] }}
  {% endif %}
  {%- if vrrp_instance["priority"] is defined -%}
  priority {{ vrrp_instance["priority"] }}
  {% endif %}
  {%- if vrrp_instance["unicast_src_ip"] is defined -%}
  unicast_src_ip {{ vrrp_instance["unicast_src_ip"] }}
  {% endif %}
  {%- if vrrp_instance["unicast_peer"] is defined -%}
  unicast_peer {
    {{ vrrp_instance["unicast_peer"] }}
  }
  {%- endif %}
  virtual_ipaddress {
    {{ vrrp_instance["virtual_ipaddress"] }}
  }
  {%- if vrrp_instance["track_script"] is defined %}
  track_script {
    {{ vrrp_instance["track_script"] }}
  }
  {% endif %}
  {%- if vrrp_instance["other"] is defined -%}
  {{ vrrp_instance["other"] }}
  {%- endif %}
}
{% endfor %}
{%- if pillar["keepalived"]["config"]["other"] is defined -%}
{{ pillar["keepalived"]["config"]["other"] }}
{% endif %}