{% set appname = 'projectX' %}
proftpd:
  users:
    test1:
      password: passwwordsZZ
      homedir: /var/www/{{ appname }}/src
      makedir: False
      user: {{ appname }}
      group: {{ appname }}
    test2:
      password: passwwordsXX
      homedir: /var/www/{{ appname }}/src/123/456
      makedir: True
      user: {{ appname }}
      group: {{ appname }}
    test3:
      delete: True
