catch_server_mail:
  sentry:
    all_users: True
    domain: sentry.example.com
    org-slug: example
    project-slug: server_mail
    auth_token: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    dsn_public: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa # this is only a public token from dsn, the complete dsn will be constructed from domain, this token and project number for project project-slug, id is being fetched using sentry-cli using auth_token
