{%- if pillar["promtail"]["scrape_configs"] is defined  and pillar['promtail']['scrape_configs'] is not none -%}
  {%- set scrape_configs = pillar['promtail']['scrape_configs'] -%}
{%- endif -%}
server:
  http_listen_port: 9080
  grpc_listen_port: 0
positions:
  filename: /tmp/positions.yaml
clients:
  - url: {{ pillar['promtail']['loki_url'] }}/loki/api/v1/push
scrape_configs:
{{ scrape_configs }}