# vi: set ft=yaml:

incus:
  config: # optional, host config values to apply
    core.metrics_address: ":8444"
    core.metrics_authentication: False
  images: # optional, images to predownload on server, no images are preloaded by default
    ubuntu/jammy/amd64: # alias
      source: images:ubuntu/jammy/amd64
    ubuntu/jammy/amd64/vm:
      source: images:ubuntu/jammy/amd64
      vm: True
    debian/bookworm/amd64:
      source: images:debian/bookworm/amd64
  files: # optional, see https://github.com/microdevops-com/microdevops-formula/tree/master/_include/file_manager
    managed:
      install-iso:
        - name: /media/iso/v0.3.3-node-k8s-1.33.6.iso
          source: https://github.com/SomeBlackMagic/kube-livecd/releases/download/v0.3.3/node-k8s-1.33.6.iso
          source_hash: sha256=157edad115a703c00e8570ad3c77e9b3ba6897fbf96bc43386b301c7abce6881
          makedirs: True
  profiles:
    br0:
      devices:
        eth0:
          type: nic
          nictype: bridged
          parent: br0
    br1:
      devices:
        eth1:
          type: nic
          nictype: bridged
          parent: br1
    #test: # profile config example
    #  config:
    #    some_key: some_value
  instances:
    # actual incus names are dots to dashes converted
    instance1.example.com: # with eth0 with mac and eth1 in br1
      # vm: True # add --vm to incus init
      image: debian/bookworm/amd64 # empty or remove for empty image and install from iso
      #image: ubuntu/jammy/amd64 #
      #image: ubuntu/jammy/amd64/vm # use alias of vm image for virtual machines
      #init_flags: --empty -c security.secureboot=false # for Windows install from iso
      #init_flags: --empty # Windows 11 requires secureboot
      #skip_wait_exec_true: True # do not wait for successful exec of /bin/true for windows install from iso
      devices:
        root:
          type: disk
          path: /
          pool: vg_md3
          size: 10GB
        eth0: # network with mac should be added as device, not profile. enp5s0, enp6s0 etc device names are used inside vms
          type: nic
          nictype: bridged
          parent: br0
          hwaddr: aa:aa:aa:aa:aa:aa
        #tpm: # needed for windows 11
        #  type: tpm
        #iso1:
        #  type: disk
        #  source: /media/disk/ISO/Windows-distrobuilder.iso
        #  boot.priority: 10
        #iso2: # this is not needed for Windows install, but may be needed after install to install the rest of drivers
        #  type: disk
        #  source: /media/disk/ISO/virtio-win-0.1.215.iso
      #config: # optional config values to apply https://lxd.readthedocs.io/en/latest/instances/
      #  limits.cpu: 1
      #  limits.memory: 1024MB
      #  limits.memory.swap: False
      #config: # minimal example for vm
      #  limits.cpu: 4
      #  limits.memory: 4GB
      profiles: # profile list will be applied on each state run
        - br1
        - autostart
        - docker # this profile allows docker inside instance
        #- privileged
        #- nfs
      #profiles: # minimal needed for vm
      #  - autostart
      bootstrap:
        ...

      # boostrap examples, parameters are script specific
      bootstrap: # without fixed mac on eth0 with systemd-networkd e.g. for debian bookworm
        - network_systemd.sh:
          - 111.111.111.111
          - 24
          - 111.111.111.100
          - 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1
          - example.com
        - hostname_and_hosts.sh:
          - __INSTANCE_NAME__ # special parameter __INSTANCE_NAME__ is replaced with instance name with dots
          - 111.111.111.111
        - cleanup.sh: []
        - root_ssh_keys.sh:
          - ssh-ed25519 AAAAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa me@example.com
          - ssh-ed25519 AAAAbaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa anotherme@example.com
        - ssh_server.sh: []
        - python3.sh: [] # apt-get install python-is-python3
      bootstrap: # without fixed mac on eth0
        - network.sh:
          - 111.111.111.111
          - 24
          - 111.111.111.100
          - '[8.8.8.8, 8.8.4.4, 1.1.1.1, 1.0.0.1]' # '[]' - netplan yaml syntax
          - '[example.com]'
        - hostname_and_hosts.sh:
          - __INSTANCE_NAME__ # special parameter __INSTANCE_NAME__ is replaced with instance name with dots
          - 111.111.111.111
      bootstrap: # with fixed mac on eth0
        - network_mac.sh:
          - 111.111.111.111
          - 24
          - 111.111.111.100
          - '[8.8.8.8, 8.8.4.4, 1.1.1.1, 1.0.0.1]'
          - '[example.com]'
          - aa:aa:aa:aa:aa:aa
        - hostname_and_hosts.sh:
          - __INSTANCE_NAME__
          - 111.111.111.111
      bootstrap: # without fixed mac on eth0 with eth1
        - network_two_nets.sh:
          - 111.111.111.111
          - 24
          - 111.111.111.100
          - '[8.8.8.8, 8.8.4.4, 1.1.1.1, 1.0.0.1]'
          - '[example.com]'
          - 10.0.10.2
          - 24
        - hostname_and_hosts.sh:
          - __CONTAINER_NAME__
          - 111.111.111.111
      bootstrap: # with fixed mac on eth0 with eth1
        - network_two_nets_mac.sh:
          - 111.111.111.111
          - 24
          - 111.111.111.100
          - '[8.8.8.8, 8.8.4.4, 1.1.1.1, 1.0.0.1]'
          - '[example.com]'
          - aa:aa:aa:aa:aa:aa
          - 10.0.10.2
          - 24
        - hostname_and_hosts.sh:
          - __CONTAINER_NAME__
          - 111.111.111.111
    k8s-node.example.com: # example with cloud-init
      vm: True
      init_flags: --empty
      devices:
        root:
          type: disk
          path: /
          pool: vg_md1
          size: 10GB
        enp5s0:
          type: nic
          nictype: bridged
          parent: br1
        install-iso:
          type: disk
          source: /media/iso/v0.3.3-node-k8s-1.33.6.iso
          boot.priority: 10
          readonly: true
        cloud-init: # mandatory as is, if cloud-init is used
          type: disk
          source: "cloud-init:config"
      config:
        limits.cpu: 2
        limits.memory: 2GB
        security.secureboot: false
        # do not remove "#cloud-config" line below, needed for cloud-init to work, see https://linuxcontainers.org/incus/docs/main/cloud-init/#cloud-init-and-virtual-machines
        # cloud init configs below are just to demonstrate cloud-init usage, modify as needed
        cloud-init.user-data: |
          #cloud-config
          hostname: k8s-node.example.com
          ssh_pwauth: false

          users:
            - name: ubuntu
              groups: sudo
              shell: /bin/bash
              sudo: ALL=(ALL) NOPASSWD:ALL
              ssh_authorized_keys:
                - ssh-ed25519 AAAA......

          package_update: false
          package_upgrade: false

          runcmd:
            - [ sh, -c, "echo 'cloud-init executed' > /root/ci.txt" ]
        cloud-init.network-config: |
          version: 2
          ethernets:
            enp5s0:
              dhcp4: false
              addresses:
                - 10.0.10.2/24
              gateway4: 10.0.10.1
              nameservers:
                addresses:
                  - 1.1.1.1
                  - 8.8.8.8
      profiles:
        - autostart
