promtail:
  image: grafana/promtail:2.3.0
  name: server1.example.com
  loki_url: http://loki.example.com:3100
  binds:
    - bind: /var/log:/var/log
    - bind: /opt/app-1/log:/var/log/app-1/log
  scrape_configs: |
    - job_name: nginx
      static_configs:
      - labels:
          job: nginx
          host: server1.example.com
          __path__: /var/log/nginx/*log
    - job_name: app-1
      static_configs:
      - labels:
          job: app-1
          host: server1.example.com
          __path__: /var/log/app-1/*log