{%- set host = "server1.example.com" -%}
promtail:
  loki:
    url: https://loki.example.com
    auth_basic:
      username: <user>
      password: <password>
  binary:
    link: https://github.com/grafana/loki/releases/download/v2.3.0/promtail-linux-amd64.zip
  docker:
    image: grafana/promtail:2.3.0
    binds:
      - bind: /var/log:/var/log
      - bind: /opt/app-1/log:/var/log/app-1/log
  scrape_configs: |
    - job_name: nginx
      static_configs:
      - labels:
          job: nginx
          host: {{ host }}
          __path__: /var/log/nginx/*log
    - job_name: app-1
      static_configs:
      - labels:
          job: app-1
          host: {{ host }}
          __path__: /var/log/app-1/*log
