# If you get ValueError: RSA key format is not supported on minion, fix:
# pip3 install --upgrade pycryptodomex

salt:

  master:
    version: 3001
    config:
      file_roots:
        base:
          - /srv/salt
          - /srv/files
          - /srv/salt_local
          - /srv/formulas/_salt
      interface: 0.0.0.0
      presence_events: True
      worker_threads: 4
      master_sign_pubkey: True
      publish_port: 4505
      ret_port: 4506
      ping_on_rotate: True
    pki: # optionally manage pki keys
      master_sign:
        pem: |
          -----BEGIN RSA PRIVATE KEY-----
          ...
          -----END RSA PRIVATE KEY-----
        pub: |
          -----BEGIN PUBLIC KEY-----
          ...
          -----END PUBLIC KEY-----
      master:
        pem: |
          -----BEGIN RSA PRIVATE KEY-----
          ...
          -----END RSA PRIVATE KEY-----
        pub: |
          -----BEGIN PUBLIC KEY-----
          ...
          -----END PUBLIC KEY-----
      minions:
        minion1.example.com:
          -----BEGIN PUBLIC KEY-----
          ...
          -----END PUBLIC KEY-----
        minion2.example.com:
          -----BEGIN PUBLIC KEY-----
          ...
          -----END PUBLIC KEY-----
    root_ed25519: # root ssh key (for accessing gitlab repo)
      priv: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        ...
        -----END OPENSSH PRIVATE KEY-----
      pub: |
        ssh-ed25519 AAAA................................................................ root@saltX.example.com
    root_rsa: # root ssh key (for accessing gitlab repo)
      priv: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        ...
        -----END OPENSSH PRIVATE KEY-----
      pub: |
        ssh-ed25519 AAAA................................................................ root@saltX.example.com
    repo: git@gitlab.example.com:salt-master.git # optionally git clone repo and keep updated /srv/.git
    gitlab-runner: # optionally istall gitlab-runner and register it in repo
      gitlab_url: https://gitlab.example.com
      gitlab_runner_name: salt1.example.com
      registration_token: xxxxxxxxxxxxxxxxxxxx
      concurrent: 16

  minion:
    version: 3001
    release: 3001.4 # optional specific release of version to install (only for windows)
    hosts: # add static records for salt masters
      - name: salt1.example.com
        ip: 1.2.3.4
      - name: salt2.example.com
        ip: 4.3.2.1
    config:
      master:
        - salt1.example.com
        - salt2.example.com
      publish_port: 4505
      master_port: 4506
      verify_master_pubkey_sign: True
      master_type: failover
      retry_dns: 0
      random_master: True
      master_alive_interval: 60
      master_tries: -1
      ping_interval: 1
      grains:
        fqdn: {{ grains['id'] }}
    grains_file_rm: True # optionally remove grains file, if grains are managed inside main config
    pki:
      minion:
        pem: |
          -----BEGIN RSA PRIVATE KEY-----
          ...
          -----END RSA PRIVATE KEY-----
        pub: |
          -----BEGIN PUBLIC KEY-----
          ...
          -----END PUBLIC KEY-----
      minion_master: | # makes sense only for minions on masters - self selection - makes up faster
        -----BEGIN PUBLIC KEY-----
        ...
        -----END PUBLIC KEY-----
      master_sign: |
        -----BEGIN PUBLIC KEY-----
        ...
        -----END PUBLIC KEY-----
