{% set host = 'keep.example.com' %}
{% set homedir = '/opt/keep' %}
{% set keep_default_username = 'keep' %}
{% set keep_default_password = 'keep' %}
{% set keep_jwt_secret = 'secret' %}
{% set keep_app_key = 'keepappkey' %}
{% set keep_app_secret = 'keepappsecret' %}
{% set keep_dbhost = host %}
{% set keep_dbport = '3306' %}
{% set keep_dbname = 'keep' %}
{% set keep_dbusername = 'keep' %}
{% set keep_dbpassword = 'password' %}
{% set keep_api_key = '12345678-1234-1234-1234-123456789012' %}

keep:
  host: {{ host }}
  nginx_sites_enabled: True
  homedir: {{ homedir }}
  api_key: {{ keep_api_key }}
  retries: 10
  providers:
    - name: grafana-oncall-provider-name
      force: true         # Optional for re-creating provider
      type: grafana_oncall
      args:
        - --host https://oncall.example.com
        - --token 1234567890123456789012345678901234567890123456789012345678901234
    - name: telegram-provider-name
      force: true
      type: telegram
      args:
        - --bot-token 1234567890:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
    - name: vmalert-provider-name
      force: true
      type: victoriametrics
      args:
        - --VMAlertURL https://vmalert.example.com
        - --BasicAuthUsername USERNAME
        - --BasicAuthPassword PASSWORD
  components:
    - name: keep-frontend
      ports:
        - "127.0.0.1:3000:3000"
      image: us-central1-docker.pkg.dev/keephq/keep/keep-ui
      environment:
        - API_URL=http://keep-backend:8080
        - AUTH_TYPE=DB
        - NEXTAUTH_URL=https://{{ host }}
        - NEXTAUTH_SECRET={{ keep_jwt_secret }}
        - NEXT_PUBLIC_API_URL=https://{{ host }}:8443
        - NEXT_PUBLIC_KEEP_VERSION=0.2.9
        - NEXT_PUBLIC_SENTRY_DSN=https://0d4d59e3105ffe8afa27dcb95a222009@o4505515398922240.ingest.us.sentry.io/4508258058764288
        - POSTHOG_KEY=phc_muk9qE3TfZsX3SZ9XxX52kCGJBclrjhkP9JxAQcm1PZ
        - POSTHOG_HOST=https://ingest.keephq.dev
        - PUSHER_HOST=localhost
        - PUSHER_PORT=6001
        - PUSHER_APP_KEY={{ keep_app_key }}
      volumes:
        - {{ homedir }}/state:/state
    - name: keep-backend
      image: us-central1-docker.pkg.dev/keephq/keep/keep-api
      ports:
        - "127.0.0.1:8080:8080"
      environment:
        - AUTH_TYPE=DB
       #- DATABASE_CONNECTION_STRING=sqlite:////state/db.sqlite3?check_same_thread=False
       #- DATABASE_CONNECTION_STRING=postgresql://{{ keep_dbusername }}:{{ keep_dbpassword }}@{{ keep_dbhost }}:5432/{{ keep_dbname }}
        - DATABASE_CONNECTION_STRING=mysql+pymysql://{{ keep_dbusername }}:{{ keep_dbpassword }}@{{ keep_dbhost }}:{{ keep_dbport }}/{{ keep_dbname }}
        - KEEP_API_URL=https://{{ host }}:8443
        - KEEP_DEFAULT_USERNAME={{ keep_default_username }}
        - KEEP_DEFAULT_PASSWORD={{ keep_default_password }}
        - KEEP_FORCE_RESET_DEFAULT_PASSWORD=true
        - KEEP_JWT_SECRET={{ keep_jwt_secret }}
        - KEEP_HOST={{ host }}
       #- OPENAI_API_KEY=XXX-OPENAI_API_KEY-YYY
        - PORT=8080
        - PUSHER_APP_ID=1
        - PUSHER_APP_KEY={{ keep_app_key }}
        - PUSHER_APP_SECRET={{ keep_app_secret }}
        - PUSHER_HOST=keep-websocket-server
        - PUSHER_PORT=6001
        - SECRET_MANAGER_DIRECTORY=/state
        - SECRET_MANAGER_TYPE=FILE
        - USE_NGROK=false
      volumes:
        - {{ homedir }}/state:/state
    - name: keep-websocket-server
      image: quay.io/soketi/soketi:1.4-16-debian
      ports:
        - "127.0.0.1:6001:6001"
        - "127.0.0.1:9601:9601"
      environment:
        - SOKETI_USER_AUTHENTICATION_TIMEOUT=3000
        - SOKETI_DEBUG=1
        - SOKETI_DEFAULT_APP_ID=1
        - SOKETI_DEFAULT_APP_KEY={{ keep_app_key }}
        - SOKETI_DEFAULT_APP_SECRET={{ keep_app_secret }}
