cmd_check_alert:
  cron: '*/2' # run checks each 2 minutes
  config_file: salt://cmd_check_alert/cmd_check_alert.yaml # see https://github.com/sysadmws/sysadmws-utils/blob/master/cmd_check_alert/cmd_check_alert.yaml.example
