{% if (pillar['pkg'] is defined) and (pillar['pkg'] is not none) %}
  {%- for pkg_key, pkg_val in pillar['pkg'].items()|sort %}
    {%- if (pkg_val['when'] is defined) and (pkg_val['when'] is not none) and (PKG_WHEN is defined) and (PKG_WHEN is not none) and (pkg_val['when'] == PKG_WHEN) %}
      {%- for state in pkg_val['states']|sort %}
        {%- for s_key, s_val in pkg_val['states'][state].items()|sort %}
pkg_{{ pkg_key }}_{{ PKG_WHEN }}_{{ state }}_{{ s_key }}:
  {{ state }}:
          {%- if not ((s_val['name'] is defined) and (s_val['name'] is not none)) %}
    - name: {{ s_key }}
          {%- endif %}
{{ s_val|yaml(False)|indent(width=4,indentfirst=True) }}

        {% endfor %}
      {% endfor %}
    {%- endif %}
  {%- endfor %}
{% endif %}
