{#
You can apply specific pkg sub pillar by running:
salt minion state.apply pkg.[pkg|before_deploy|after_deploy] pillar='{"pkg_filter": "some_name"}' # partial filter match
salt minion state.apply pkg.[pkg|before_deploy|after_deploy] pillar='{"pkg_exact_filter": "some_name"}' # exact filter match

It will run only:
pkg:
  some_name: <- this sub pillar

Do not use number as some_name, filter will not match for numbers.
#}
{% if pillar['pkg'] is defined %}
  {%- set pkg_to_str = {} %}
  # Fix Rendering SLS ... failed: Jinja error: < not supported between instances of str and int
  # Create copy of pillar filtered to str
  {%- for pkg_key, pkg_val in pillar['pkg'].items() %}
    {%- do pkg_to_str.update({pkg_key|string: pkg_val}) %}
  {%- endfor %}
  {%- for pkg_key, pkg_val in pkg_to_str.items()|sort %}
    {%- if pkg_val['when'] is defined and pkg_val['when'] is not none and PKG_WHEN is defined and PKG_WHEN is not none and pkg_val['when'] == PKG_WHEN %}
      {%- for state in pkg_val['states'] %}
        {%- set a_loop = loop %}
        {%- for s_key, s_val in state.items() %}
          {%- set b_loop = loop %}
          {%- set s_val_to_str = {} %}
          {%- for ss_key, ss_val in s_val.items() %}
            {%- do s_val_to_str.update({ss_key|string: ss_val}) %}
          {%- endfor %}
          {%- for ss_key, ss_val in s_val_to_str.items()|sort %}

            {%- if (pillar['pkg_filter'] is defined and pillar['pkg_filter'] in pkg_key) or (pillar['pkg_exact_filter'] is defined and pillar['pkg_exact_filter'] == pkg_key) or (pillar['pkg_filter'] is not defined and pillar['pkg_exact_filter'] is not defined) %}
pkg_{{ pkg_key }}_{{ PKG_WHEN }}_{{ s_key }}_{{ ss_key }}_{{ a_loop.index }}_{{ b_loop.index }}_{{ loop.index }}:
  {{ s_key }}:
                {%- if not (ss_val['name'] is defined and ss_val['name'] is not none) %}
    - name: {{ ss_key }}
                {%- endif %}
{{ ss_val|yaml(False)|replace("&#39;", "'")|indent(width=4, first=True) }}

            {%- else %}
pkg_{{ pkg_key }}_{{ PKG_WHEN }}_{{ s_key }}_{{ ss_key }}_{{ a_loop.index }}_{{ b_loop.index }}_{{ loop.index }}:
  test.configurable_test_state:
    - name: pkg_filter_skipped_{{ pkg_key }}_{{ PKG_WHEN }}_{{ s_key }}_{{ ss_key }}_{{ a_loop.index }}_{{ b_loop.index }}_{{ loop.index }}
    - changes: False
    - result: True
    - comment: |
        NOTICE: pkg_filter or pkg_exact_filterpillar applied, state skipped

            {%- endif %}

          {%- endfor %}
        {%- endfor %}
      {%- endfor %}
    {%- endif %}
  {%- endfor %}
{% else %}
pkg_nothing_to_do_{{ PKG_WHEN }}:
  test.configurable_test_state:
    - name: pkg_nothing_to_do_info
    - changes: False
    - result: True
    - comment: |
         NOTICE: Pillar pkg not defined, doing nothing.
{% endif %}
