{%
set bitbucket_webhooks = {
  'bitbucket_webhooks_1':                       '104.192.136.0/21',
  'bitbucket_webhooks_2':                       '34.198.203.127',
  'bitbucket_webhooks_3':                       '34.198.178.64',
  'bitbucket_webhooks_4':                       '34.198.32.85'
}
%}
