{%
set sentry_io = {
  'sentry_io_1':                       '35.184.238.160/32',
  'sentry_io_2':                       '104.155.159.182/32',
  'sentry_io_3':                       '104.155.149.19/32',
  'sentry_io_4':                       '130.211.230.102/32'
}
%}
